<nav
  class="sticky top-0 w-full h-[70px] flex flex-row justify-between items-center shadow bg-black md:py-4 py-2 md:px-5 px-2"
>
  <div class="flex justify-start items-center sm:gap-3 md:gap-5 gap-2">
    <a href="#" class="flex justify-center items-center cursor-pointer">
      <img
        class="h-[25px] w-[25px]"
        src="assets/icons/Group 12110.svg"
        alt=""
      />
    </a>

    <a href="#" class="flex justify-center items-center cursor-pointer">
      <img
        class="md:w-28 w-20 h-auto"
        src="assets/icons/logo-light.svg"
        alt="logo"
      />
    </a>
  </div>

  <div class="flex justify-end items-center md:gap-4 gap-2 md:px-3 px-0">
    <button
      class="hide-with-small md:py-3 py-1 md:px-4 px-2 rounded-3xl text-white bg-gradient-to-tl from-[#222276] to-[#6F6FDB] shadow-lg shadow-[#fcfcfc2e]"
    >
      LAUNCH ASSESSMENT
    </button>

    <button
      data-dropdown-toggle="localizationDropdown"
      class="flex justify-center items-center cursor-pointer"
      type="button"
    >
      <img
        class="md:w-16 w-14 h-auto"
        src="assets/icons/Group 11730.svg"
        alt="logo"
      />
    </button>

    <div
      id="localizationDropdown"
      class="z-10 hidden bg-[#27273F] divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
    >
      <ul
        class="p-2 text-sm text-gray-100 dark:text-gray-200"
        aria-labelledby="dropdownDefaultButton"
      >
        <li>
          <a
            href="#"
            class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
            >Dashboard</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
            >Settings</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
            >Earnings</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
            >Sign out</a
          >
        </li>
      </ul>
    </div>

    <button
      data-dropdown-toggle="notificationDropdown"
      class="text-gray-500 hover:text-gray-700 focus:text-gray-700 mr-4 dropdown-toggle hidden-arrow flex items-center"
      type="button"
    >
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="bell"
        class="w-4"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          fill="currentColor"
          d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z"
        ></path>
      </svg>
      <span
        class="text-white bg-orange-600 absolute rounded-full text-xs -mt-2.5 ml-2 py-0 px-1.5"
        >04</span
      >
    </button>

    <div
      id="notificationDropdown"
      class="z-10 hidden bg-[#27273F] divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
    >
      <ul
        class="p-2 text-sm text-gray-100 dark:text-gray-200"
        aria-labelledby="dropdownDefaultButton"
      >
        <li>
          <a
            href="#"
            class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
            >Dashboard</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
            >Settings</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
            >Earnings</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
            >Sign out</a
          >
        </li>
      </ul>
    </div>

    <button
      data-dropdown-toggle="userInfoDropdown"
      class="flex justify-center items-center md:gap-3 gap-2"
      type="button"
    >
      <div class="flex justify-center items-center md:gap-2 gap-1">
        <img
          class="h-[45px] w-[45px] rounded-full border-[2px] border-white"
          src="assets/images/corey-motta-467508-unsplash@2x.png"
          alt=""
        />

        <span class="md:text-base text-sm font-medium text-white"
          >User Name</span
        >
      </div>

      <img
        class="h-[12px] w-[12px]"
        src="assets/icons/Group 11729.svg"
        alt=""
      />
    </button>

    <div
      id="userInfoDropdown"
      class="z-10 hidden bg-[#27273F] divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
    >
      <ul
        class="p-2 text-sm text-gray-100 dark:text-gray-200"
        aria-labelledby="dropdownDefaultButton"
      >
        <li>
          <a
            href="#"
            class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
            >Dashboard</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
            >Settings</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
            >Earnings</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
            >Sign out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
