<section class="h-full w-full grid md:grid-cols-3 grid-cols-1">
  <div
    class="py-3 px-4 flex flex-col justify-center items-start gap-2 bg-[#5252E2] md:order-1 order-2"
  >
    <img class="w-5 h-5" src="assets/icons/noun-tips-2378579.svg" alt="info" />
    <span
      class="text-white sm:text-[.75em] text-sm font-semibold uppercase break-words"
    >
      IMPROVE OVERALL PROGRAM EFFECTIVENESS AND PROCESS MATURITY.
    </span>
  </div>

  <div
    class="py-3 px-4 md:col-span-2 col-span-3 flex flex-col justify-start items-stretch sm:gap-3 gap-2 md:order-2 order-1"
  >
    <!-- Progress bar -->
    <div class="h-2 flex justify-start items-center bg-[#F0E6FF] rounded-md">
      <!-- change width based on completed form steps -->
      <div class="h-full w-1/2 bg-[#7733FF] rounded-md"></div>
    </div>

    <!-- Form -->
    <section
      class="relative h-full w-full flex flex-col justify-between items-stretch md:pb-2"
    >
      <!-- Form title -->

      <section
        class="flex flex-col justify-between items-center gap-1 text-gray-900"
      >
        <span class="text-[13px] font-semibold break-words"
          >CREATE A NEW ACCOUNT</span
        >

        <span class="text-[13px] font-normal break-words"
          >In a few simple steps, we will create an account for you</span
        >
      </section>

      <!-- Form -->
      <section class="h-full flex justify-center items-center md:my-2 my-1">
        <form
          action=""
          class="lg:w-2/3 w-full h-full p-0 m-0 flex flex-col justify-start items-stretch md:gap-4 gap-2 md:pt-2 pt-1"
        >
          <div class="relative z-0">
            <input
              type="text"
              id="userName"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#5252e2] peer"
              placeholder=" "
            />
            <label
              for="userName"
              class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#5252e2] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              ><span>User name</span>
              <span class="mx-1 text-red-600">⁕</span></label
            >
          </div>

          <div class="relative z-0">
            <input
              type="text"
              id="newPass"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#5252e2] peer"
              placeholder=" "
            />
            <label
              for="newPass"
              class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#5252e2] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              ><span>New Password</span>
              <span class="mx-1 text-red-600">⁕</span></label
            >
          </div>

          <div class="relative z-0">
            <input
              type="text"
              id="confirmPass"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#5252e2] peer"
              placeholder=" "
            />
            <label
              for="confirmPass"
              class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#5252e2] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              ><span>Confirm New Password</span>
              <span class="mx-1 text-red-600">⁕</span></label
            >
          </div>
        </form>
      </section>

      <section class="flex flex-col justify-center items-stretch gap-2">
        <div class="flex justify-center items-center">
          <button
            class="lg:w-2/3 w-full py-[5px] px-2 rounded-3xl flex justify-center items-center bg-[#5252e2]"
          >
            <span
              class="md:text-base text-sm md:font-normal font-light text-white"
              >Next</span
            >
          </button>
        </div>

        <div class="flex justify-center items-center">
          <a class="text-gray-700 hover:text-gray-900" href="#">
            <span class="text-sm font-light">I have account ! </span>
            <strong>Signin</strong></a
          >
        </div>
      </section>
    </section>
  </div>
</section>
