<section class="relative min-h-screen w-100 bg-[#070723] sm:pt-20 pt-8">
  <div
    class="relative md:w-6/12 w-10/12 h-auto m-auto flex flex-col justify-center items-stretch md:gap-8 gap-3 z-10"
  >
    <header class="flex justify-between items-center">
      <img
        class="md:w-36 w-24 h-auto"
        src="assets/icons/logo-light.svg"
        alt="logo"
      />

      <ul class="list-none flex flex-row justify-center items-center gap-2">
        <li class="cursor-pointer text-sm text-white font-light">
          <a href="#">What we do</a>
        </li>
        <span class="h-[16px] w-[2px] bg-white"></span>
        <li class="cursor-pointer text-sm text-white font-light">
          <a href="#">FQA</a>
        </li>
        <span class="h-[16px] w-[2px] bg-white"></span>

        <li class="cursor-pointer text-sm text-white font-light">
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </header>

    <!-- Form content -->

    <section
      class="min-h-[55vh] grid md:grid-cols-3 grid-cols-1 rounded-[20px] overflow-hidden bg-white shadow-xl"
    >
      <!-- changed description section -->
      <div
        class="py-3 px-4 flex flex-col justify-center items-start gap-2 bg-[#5252E2] md:order-1 order-2"
      >
        <img
          class="w-5 h-5"
          src="assets/icons/noun-tips-2378579.svg"
          alt="info"
        />
        <span class="text-white text-lg font-semibold uppercase break-words">
          IMPROVE OVERALL PROGRAM EFFECTIVENESS AND PROCESS MATURITY
        </span>
        <!-- <span class="text-white text-lg font-semibold uppercase break-words">
          UNDERSTAND VULNERABILITIES IN THE CONTEXT OF BUSINESS RISK
        </span> -->
      </div>

      <!-- Forms -->
      <div
        class="py-3 px-4 md:col-span-2 col-span-3 flex flex-col justify-start items-stretch sm:gap-3 gap-2 md:order-2 order-1"
      >
        <!-- Progress bar -->
        <div
          class="h-2 flex justify-start items-center bg-[#F0E6FF] rounded-md"
        >
          <!-- change width based on completed form steps -->
          <div class="h-full w-1/2 bg-[#7733FF] rounded-md"></div>
        </div>

        <!-- changed forms section -->
        <!-- <app-create-account class="h-full"></app-create-account> -->
        <app-payment-process class="h-full"></app-payment-process>
      </div>
    </section>

    <!-- Copy right -->
    <section class="flex flex-col justify-center items-center md:gap-3 gap-1">
      <ul class="list-none flex flex-row justify-center items-center gap-2">
        <li class="cursor-pointer text-xs text-black font-light">
          <a href="#">Team of us</a>
        </li>
        <span class="h-[12px] w-[.5px] bg-black"></span>
        <li class="cursor-pointer text-xs text-black font-light">
          <a href="#">Privacy policy</a>
        </li>
      </ul>

      <span
        class="flex justify-center items-center gap-1 text-xs text-black font-light"
      >
        <span>&copy;</span>
        2022 Cybral. All Rights Reserved by
      </span>
    </section>
  </div>

  <div
    class="background-img absolute bottom-0 h-[50vh] w-full rounded-t-[100%] bg-white z-0"
  ></div>
</section>
