<section class="h-full w-full grid md:grid-cols-3 grid-cols-1">
  <div
    class="py-3 px-4 flex flex-col justify-center items-start gap-2 bg-[#5252E2] md:order-1 order-2"
  >
    <img class="w-5 h-5" src="assets/icons/noun-tips-2378579.svg" alt="info" />
    <span
      class="text-white sm:text-[.75em] text-sm font-semibold uppercase break-words"
    >
      The first step of vulnerability assessment is a complete inventory of your
      entire environment whether it is in one location, or multiple.
    </span>
  </div>

  <div
    class="py-3 px-4 md:col-span-2 col-span-3 flex flex-col justify-start items-stretch sm:gap-3 gap-2 md:order-2 order-1"
  >
    <!-- Progress bar -->
    <div class="h-2 flex justify-start items-center bg-[#F0E6FF] rounded-md">
      <!-- change width based on completed form steps -->
      <div class="h-full w-1/2 bg-[#7733FF] rounded-md"></div>
    </div>

    <!-- Form -->
    <section
      class="h-full w-full flex flex-col justify-between items-stretch md:pb-2"
    >
      <!-- Form title -->
      <section
        class="flex flex-col justify-between items-center gap-1 text-gray-900"
      >
        <span class="text-[13px] font-semibold break-words"
          >COMPANY DETAILS</span
        >

        <span class="text-[13px] font-normal break-words"
          >In a few simple steps, we will create an account for you</span
        >
      </section>

      <!-- Form -->
      <section class="h-full flex justify-center items-center md:my-2 my-1">
        <form
          action=""
          class="w-full h-full grid md:grid-cols-2 grid-cols-1 md:gap-3 gap-1 p-0 m-0 md:px-3 px-2 md:pt-2 pt-1"
        >
          <div class="flex flex-col justify-center items-stretch md:mt-4 mt-2">
            <label
              class="flex justify-start items-center gap-1 px-1 text-sm font-normal -mb-[12px] z-10"
              for="compName"
              ><span>Company name</span>
              <span class="text-red-600">⁕</span></label
            >
            <input id="compName" class="input-1 w-full z-0" type="text" />
          </div>

          <div class="flex flex-col justify-center items-stretch md:mt-4 mt-2">
            <label
              class="flex justify-start items-center gap-1 px-1 text-sm font-normal -mb-[12px] z-10"
              for="compWebsite"
              ><span>Company Website</span>
              <span class="text-red-600">⁕</span></label
            >
            <input id="compWebsite" class="input-1 w-full z-0" type="text" />
          </div>

          <div class="flex flex-col justify-center items-stretch md:mt-4 mt-2">
            <label
              class="w-100 flex justify-start items-center gap-1 px-1 text-sm font-normal -mb-[12px] z-10 sr-only"
              for="compSize"
              ><span>Company Size</span>
              <span class="text-red-600">⁕</span></label
            >

            <select id="compSize" class="input-1 w-100">
              <option disabled selected>Company Size</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>

          <div class="flex flex-col justify-center items-stretch md:mt-4 mt-2">
            <label
              class="w-100 flex justify-start items-center gap-1 px-1 text-sm font-normal -mb-[12px] z-10 sr-only"
              for="compSize"
              ><span>Business Type</span>
              <span class="text-red-600">⁕</span></label
            >

            <select id="compSize" class="input-1 w-100">
              <option disabled selected>Business Type</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>

          <div class="flex flex-col justify-center items-stretch md:mt-4 mt-2">
            <label
              class="flex justify-start items-center gap-1 px-1 text-sm font-normal -mb-[12px] z-10"
              for="tel1"
              ><span>Tel 1</span>
            </label>
            <input id="tel1" class="input-1 w-full z-0" type="text" />
          </div>

          <div class="flex flex-col justify-center items-stretch md:mt-4 mt-2">
            <label
              class="flex justify-start items-center gap-1 px-1 text-sm font-normal -mb-[12px] z-10"
              for="tel2"
              ><span>Tel 2</span>
            </label>
            <input id="tel2" class="input-1 w-full z-0" type="text" />
          </div>

          <div
            class="md:col-span-2 flex flex-col justify-center items-stretch md:mt-4 mt-2"
          >
            <label
              class="flex justify-start items-center gap-1 px-1 text-sm font-normal -mb-[12px] z-10"
              for="address"
              ><span>Address</span>
            </label>
            <input id="address" class="input-1 w-full z-0" type="text" />
          </div>
        </form>
      </section>

      <section
        class="flex flex-col justify-center items-stretch gap-2 md:mt-3 mt-2"
      >
        <div class="flex justify-center items-center">
          <button
            class="lg:w-2/3 w-full py-[5px] px-2 rounded-3xl flex justify-center items-center bg-[#5252e2]"
          >
            <span
              class="md:text-base text-sm md:font-normal font-light text-white"
              >Next</span
            >
          </button>
        </div>

        <div class="flex justify-center items-center">
          <a class="text-gray-700 hover:text-gray-900" href="#">
            <span class="text-sm font-light">I have account ! </span>
            <strong>Signin</strong></a
          >
        </div>
      </section>
    </section>
  </div>
</section>
