<section
  class="w-full grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 grid-cols-1 justify-items-stretch md:gap-4 gap-2 my-1"
>
  <h2
    class="sm:col-span-2 md:col-span-3 lg:col-span-4 col-span-1 md:py-5 py-3 test-start text-[#DCDDEF] md:text-[22px] text-base font-semibold"
  >
    Department Details (12 Employee)
  </h2>

  <div
    *ngFor="let x of [0, 0, 0, 0, 0, 0, 0]"
    class="flex flex-col justify-start items-stretch md:gap-5 gap-3 rounded-2xl md:p-6 p-3 bg-[#070723]"
  >
    <div class="flex justify-end items-center">
      <button
        class="flex justify-center items-center gap-1 text-[#5252E2] outline-none border-none text-xs font-normal"
      >
        <span> Check photo </span>
        <img class="w-[10px] h-[10px]" src="assets/new-icons/Layer 40.svg" />
      </button>
    </div>

    <div class="flex flex-col justify-center items-center gap-2">
      <div
        class="w-[80px] h-[80px] flex justify-center items-center rounded-full bg-[#B190B6] mb-1"
      >
        <img
          class="w-[80px] h-[80px] rounded-full object-cover bg-cover"
          src="assets/new-icons/image 17.svg"
        />
      </div>

      <span class="text-[#DCDDEF] text-[22px] font-bold"> Ahmed Youness </span>

      <p class="flex justify-center items-center gap-1 text-[#9596AA] text-sm">
        <span>ahmed.younes@cybral.com</span>

        <img
          class="w-[15px] h-[15px] rounded-full object-cover bg-cover"
          src="assets/new-icons/svgexport-17 - 2024-04-23T154936.913 1.svg"
        />
      </p>
    </div>

    <div class="flex flex-col justify-start items-start gap-3 mt-2">
      <div class="flex justify-start items-center gap-3">
        <img
          class="w-[15px] h-[15px] rounded-full object-cover bg-cover"
          src="assets/new-icons/svgexport-17 - 2024-04-23T152157.506 1.svg"
        />
        <span class="text-[#9596AA] text-sm">Marketing at Cybral</span>
      </div>

      <div class="flex justify-start items-center gap-3">
        <img
          class="w-[15px] h-[15px] rounded-full object-cover bg-cover"
          src="assets/new-icons/Vector.svg"
        />
        <span class="text-[#9596AA] text-sm">+997 51 055 295 48</span>
      </div>

      <div class="flex justify-start items-center gap-3">
        <img
          class="w-[15px] h-[15px] rounded-full object-cover bg-cover"
          src="assets/new-icons/svgexport-17 - 2024-04-23T152443.802 1.svg"
        />
        <span class="text-[#9596AA] text-sm"
          >Lurem ipsum dolar set dummy data</span
        >
      </div>

      <div class="flex justify-start items-center gap-3">
        <img
          class="w-[15px] h-[15px] rounded-full object-cover bg-cover"
          src="assets/new-icons/Group 1000004345.svg"
        />
        <span class="text-[#9596AA] text-sm"
          >Lurem ipsum dolar set dummy data</span
        >
      </div>

      <div class="flex justify-start items-center gap-3">
        <img
          class="w-[15px] h-[15px] rounded-full object-cover bg-cover"
          src="assets/new-icons/Group 1000004344.svg"
        />
        <span class="text-[#9596AA] text-sm"
          >Lurem ipsum dolar set dummy data</span
        >
      </div>
    </div>
  </div>
</section>
