<section class="md:py-5 md:px-8 py-3 px-4">
  <div class="w-full flex flex-row justify-start items-center gap-2">
    <span class="h-[16px] w-[3px] bg-[#5252E2] rounded-full"></span>
    <span class="text-base font-medium text-white">Assessments</span>
  </div>

  <div
    class="w-full h-full grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 grid-cols-1 justify-items-stretch md:gap-3 gap-1 md:p-3 p-2 bg-[#27273F] rounded-2xl md:mt-3 mt-2"
  >
    <div
      class="flex flex-col justify-between items-center md:p-[20px] p-2 rounded-2xl md:gap-4 gap-2 bg-[#070723]"
    >
      <div class="flex flex-col justify-center items-center md:gap-6 gap-2">
        <img src="assets/icons/security.svg" alt="" />
        <span class="text-center text-base font-normal text-white"
          >AUTOMATED OFFENSIVE SECURITY SCAN</span
        >
      </div>
    </div>

    <div
      class="flex flex-col justify-between items-center md:p-[20px] p-2 rounded-2xl md:gap-4 gap-2 bg-[#070723]"
    >
      <div class="flex flex-col justify-center items-center md:gap-6 gap-2">
        <img src="assets/icons/laptop.svg" alt="" />
        <span class="text-center text-base font-normal text-white"
          >ATTACK SURFACE DISCOVERY</span
        >
      </div>
    </div>

    <div
      class="flex flex-col justify-between items-center md:p-[20px] p-2 rounded-2xl md:gap-4 gap-2 bg-[#070723]"
    >
      <div class="flex flex-col justify-center items-center md:gap-6 gap-2">
        <img src="assets/icons/Page-1.svg" alt="" />
        <span class="text-center text-base font-normal text-white"
          >DARK WEB SCANNING</span
        >
      </div>
    </div>

    <div
      class="flex flex-col justify-between items-center md:p-[20px] p-2 rounded-2xl md:gap-4 gap-2 bg-[#070723]"
    >
      <div class="flex flex-col justify-center items-center md:gap-6 gap-2">
        <img src="assets/icons/Group 17.svg" alt="" />
        <span class="text-center text-base font-normal text-white"
          >CLOUD SCAN</span
        >
      </div>
    </div>

    <div
      class="flex flex-col justify-between items-center md:p-[20px] p-2 rounded-2xl md:gap-4 gap-2 bg-[#070723]"
    >
      <div class="flex flex-col justify-center items-center md:gap-6 gap-2">
        <img src="assets/icons/Group 22.svg" alt="" />
        <span class="text-center text-base font-normal text-white"
          >NETWORK SCAN</span
        >
      </div>
    </div>

    <div
      class="flex flex-col justify-between items-center md:p-[20px] p-2 rounded-2xl md:gap-4 gap-2 bg-[#070723]"
    >
      <div class="flex flex-col justify-center items-center md:gap-6 gap-2">
        <img src="assets/icons/Group 18.svg" alt="" />
        <span class="text-center text-base font-normal text-white"
          >WEB APPLICATIONS SCAN</span
        >
      </div>
    </div>

    <div
      class="flex flex-col justify-between items-center md:p-[20px] p-2 rounded-2xl md:gap-4 gap-2 bg-[#070723]"
    >
      <div class="flex flex-col justify-center items-center md:gap-6 gap-2">
        <img src="assets/icons/artificial-intelligence.svg" alt="" />
        <span class="text-center text-base font-normal text-white"
          >THREAT INTELLIGENCE</span
        >
      </div>
    </div>

    <div
      class="flex flex-col justify-center items-center md:p-[120x] p-2 rounded-2xl md:gap-4 gap-2 bg-[#070723]"
    >
      <div class="flex flex-col justify-center items-center md:gap-6 gap-2">
        <img src="assets/icons/hourglass.png" alt="" />
        <span class="text-center text-base font-normal text-white">SOON</span>
      </div>
    </div>
  </div>
</section>
