angular-editor {
  ol,
  ul,
  menu {
    margin: 10px !important;
    padding: 0 12px !important;
    list-style-type: initial !important;
  }

  ol {
    list-style: auto !important;
  }

  ul {
    list-style: unset !important;
  }

  li {
    padding: 5px 0;
  }
}

.html-editor {
  ol {
    list-style: auto !important;
  }

  ul {
    list-style: unset !important;
  }

  li {
    padding: 5px 0;
  }
}
