/*************   Stepper   *****************/
@mixin step {
  @apply lg:h-[50px] md:h-10 h-6 lg:w-[50px] md:w-10 w-6
    flex justify-center items-center rounded-full md:text-3xl
    sm:text-base text-sm md:font-extrabold font-bold;
}

.step-circle {
  @include step();
}

.next-step-circle {
  @apply flex flex-row justify-center items-center;

  .line {
    @apply sm:h-[3px] md:h-[4px] h-[2px] sm:w-[40px] md:w-[65px] w-[30px] -mr-2 rounded-full;
  }

  .circle {
    @include step();
  }
}

/*************   Inputs   *****************/

.input-1 {
  @apply bg-transparent text-gray-700 p-2 text-sm border-b-2 border-gray-400 outline-none focus:border-[#5252E2];
}

.input-2 {
  @apply md:px-3 px-1 w-full text-sm text-gray-100 bg-gray-600 placeholder:text-gray-300
   rounded-lg border border-none focus:ring-blue-500 focus:border-blue-500;
}

/*************   Tables   *****************/

.table-1 {
  @apply w-full md:text-sm text-xs md:font-normal font-light text-left text-gray-100
  border-separate md:border-spacing-y-2 border-spacing-y-1;

  tbody tr {
    @apply bg-[#070723];
  }

  td:first-child,
  th:first-child {
    @apply rounded-l-lg;
  }

  td:last-child,
  th:last-child {
    @apply rounded-r-lg;
  }

  .table-col {
    @apply md:px-4 px-2 md:py-3 py-2;
  }
}
/*************   Buttons   *****************/

/*************   Modals   *****************/

/*************   Screens   *****************/
@media only screen and (max-width: 1026px) {
  .hide-with-small {
    display: none;
  }
}
