<section class="w-full flex flex-row justify-start items-center gap-2">
  <span class="h-[16px] w-[3px] bg-[#5252E2] rounded-full"></span>
  <span class="md:text-base text-xs font-medium text-white"
    ><a routerLink="/layout/assessments">Attack Surface</a
    ><strong class="text-lg mx-1">»</strong>Assets</span
  >
</section>

<section
  class="w-full grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 grid-cols-1 justify-items-stretch md:gap-3 gap-1 my-1"
>
  <div
    class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
  >
    <div class="flex flex-row justify-between items-stretch">
      <div
        class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
      >
        <span class="text-xs font-normal truncate">Assets</span>
        <span class="text-2xl font-bold truncate">123,456</span>
      </div>
      <div class="flex justify-center items-start">
        <div
          class="flex justify-center items-center rounded-full p-3 bg-[#2dce98]"
        >
          <img
            class="w-5 h-5"
            src="assets/icons/artificial-intelligence.svg"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="flex justify-start items-center md:gap-4 gap-2">
      <span class="text-xs font-normal truncate text-[#2dce98]">+3.48%</span>
      <span class="text-xs font-normal truncate">Since last month</span>
    </div>
  </div>

  <div
    class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
  >
    <div class="flex flex-row justify-between items-stretch">
      <div
        class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
      >
        <span class="text-xs font-normal truncate">Subdomains</span>
        <span class="text-2xl font-bold truncate">50</span>
      </div>
      <div class="flex justify-center items-start">
        <div
          class="flex justify-center items-center rounded-full p-3 bg-[#f53c56]"
        >
          <img
            class="w-5 h-5"
            src="assets/icons/artificial-intelligence.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
  >
    <div class="flex flex-row justify-between items-stretch">
      <div
        class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
      >
        <span class="text-xs font-normal truncate">IP addresses</span>
        <span class="text-2xl font-bold truncate">924</span>
      </div>
      <div class="flex justify-center items-start">
        <div
          class="flex justify-center items-center rounded-full p-3 bg-[#7764e4]"
        >
          <img
            class="w-5 h-5"
            src="assets/icons/artificial-intelligence.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
  >
    <div class="flex flex-row justify-between items-stretch">
      <div
        class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
      >
        <span class="text-xs font-normal truncate">Leaked credentials</span>
        <span class="text-2xl font-bold truncate">123,456</span>
      </div>
      <div class="flex justify-center items-start">
        <div
          class="flex justify-center items-center rounded-full p-3 bg-[#11cdef]"
        >
          <img
            class="w-5 h-5"
            src="assets/icons/artificial-intelligence.svg"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="flex justify-start items-center md:gap-4 gap-2">
      <span class="text-xs font-normal truncate text-[#2dce98]">+3.48%</span>
      <span class="text-xs font-normal truncate">Since last month</span>
    </div>
  </div>

  <div
    class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
  >
    <div class="flex flex-row justify-between items-stretch">
      <div
        class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
      >
        <span class="text-xs font-normal truncate">Vulnerabilities</span>
        <span class="text-2xl font-bold truncate">309</span>
      </div>
      <div class="flex justify-center items-start">
        <div
          class="flex justify-center items-center rounded-full p-3 bg-[#ff8a45]"
        >
          <img
            class="w-5 h-5"
            src="assets/icons/artificial-intelligence.svg"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="flex justify-start items-center md:gap-4 gap-2">
      <div
        class="flex justify-start items-center md:gap-2 gap-1 text-xs font-normal truncate"
      >
        <span class="text-red-600">89</span>
        <span>High</span>
      </div>

      <div
        class="flex justify-start items-center md:gap-2 gap-1 text-xs font-normal truncate"
      >
        <span class="text-yellow-400">89</span>
        <span>Medium</span>
      </div>

      <div
        class="flex justify-start items-center md:gap-2 gap-1 text-xs font-normal truncate"
      >
        <span class="text-green-600">189</span>
        <span>Low</span>
      </div>
    </div>
  </div>
</section>

<section
  class="w-full grid md:grid-cols-6 grid-cols-1 justify-items-stretch md:gap-2 gap-1 md:mt-3 mt-1"
>
  <div
    class="max-h-[50vh] md:col-span-4 col-span-1 flex flex-col justify-start items-center md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] rounded-xl"
  >
    <div class="w-full flex flex-start items-center text-white">
      Organizing Assets
    </div>
    <div class="w-full flex flex-row flex-center items-stretch overflow-hidden">
      <!-- Change this image with selected graph -->
      <img
        class="max-h-[285px] w-10/12"
        src="assets/images/TinyTake by MangoApps-30-10-2022-01-57-19_PosterImage.png"
        alt=""
      />

      <div
        class="flex flex-col justify-start items-start md:px-5 px-3 md:gap-3 gap-2"
      >
        <a
          class="flex justify-start items-center cursor-pointer md:gap-2 gap-1 text-gray-300"
        >
          <div class="w-4 h-4 rounded-sm bg-black"></div>
          <span>high</span>
        </a>

        <a
          class="flex justify-start items-center cursor-pointer md:gap-2 gap-1 text-gray-300"
        >
          <div class="w-4 h-4 rounded-sm bg-orange-400"></div>
          <span>medium</span>
        </a>

        <a
          class="flex justify-start items-center cursor-pointer md:gap-2 gap-1 text-gray-300"
        >
          <div class="w-4 h-4 rounded-sm bg-blue-400"></div>
          <span>low</span>
        </a>

        <a
          class="flex justify-start items-center cursor-pointer md:gap-2 gap-1 text-gray-300"
        >
          <div class="w-4 h-4 rounded-sm bg-green-400"></div>
          <span>No issues</span>
        </a>

        <a
          class="flex justify-start items-center cursor-pointer md:gap-2 gap-1 text-gray-300"
        >
          <div class="w-4 h-4 rounded-sm bg-gray-300"></div>
          <span>No information</span>
        </a>
      </div>
    </div>
  </div>

  <div
    class="max-h-[50vh] md:col-span-2 col-span-1 grid grid-cols-2 content-start justify-items-stretch md:gap-2 gap-1"
  >
    <div
      class="sm:col-span-1 col-span-2 max-h-[155px] overflow-y-hidden hover:overflow-y-auto flex flex-col justify-start items-stretch md:gap-2 gap-1 md:px-3 px-2 pb-2 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div
        class="sticky top-0 pt-2 text-start md:text-sm md:font-medium text-xs font-light bg-[#0e0e29] text-white"
      >
        Domain Names
      </div>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 1</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 2</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 3</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 4</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>
    </div>

    <div
      class="sm:col-span-1 col-span-2 max-h-[155px] overflow-y-hidden hover:overflow-y-auto flex flex-col justify-start items-stretch md:gap-2 gap-1 md:px-3 px-2 pb-2 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div
        class="sticky top-0 pt-2 text-start md:text-sm md:font-medium text-xs font-light bg-[#0e0e29] text-white"
      >
        defaced Names
      </div>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 1</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 2</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 3</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 4</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>
    </div>

    <div
      class="max-h-[calc(50vh-155px)] col-span-2 flex justify-center items-center bg-[#0e0e29] rounded-xl"
    >
      <img
        class="max-h-full min-w-full"
        src="assets/images/Group 12043.svg"
        alt=""
      />
    </div>
  </div>
</section>
