<section
  class="md:relative absolute md:top-0 top-[10vh] h-full md:w-[14vw] w-[40vw] pt-[6vh]"
>
  <nav class="sticky top-[70px] w-full rounded-r-2xl bg-[#070723]">
    <ul
      class="list-none w-full flex flex-col justify-start items-start gap-2 py-2"
    >
      <li
        class="w-[95%] cursor-pointer text-sm text-white font-light md:p-4 p-2 rounded-r-full bg-[#5252e2] hover:bg-[#5252e2] ease-out duration-200"
      >
        <a class="flex justify-start items-center truncate gap-2">
          <img
            class="w-[15px] h-[15px]"
            src="assets/icons/group-1000004594.svg"
            alt=""
          />
          Home</a
        >
      </li>

      <li
        class="w-[95%] cursor-pointer text-sm text-white font-light md:p-4 p-2 rounded-r-full hover:bg-[#5252e2] ease-out duration-200"
      >
        <a class="flex justify-start items-center truncate gap-2">
          <img
            class="w-[15px] h-[15px]"
            src="assets/icons/group-1000004594.svg"
            alt=""
          />
          Dashboard</a
        >
      </li>

      <li
        class="w-[95%] cursor-pointer text-sm text-white font-light md:p-4 p-2 rounded-r-full hover:bg-[#5252e2] ease-out duration-200"
      >
        <a class="flex justify-start items-center truncate gap-2">
          <img
            class="w-[15px] h-[15px]"
            src="assets/icons/group-1000004594.svg"
            alt=""
          />
          Assessments</a
        >
      </li>

      <li
        class="w-[95%] cursor-pointer text-sm text-white font-light md:p-4 p-2 rounded-r-full hover:bg-[#5252e2] ease-out duration-200"
      >
        <a class="flex justify-start items-center truncate gap-2">
          <img
            class="w-[15px] h-[15px]"
            src="assets/icons/group-1000004594.svg"
            alt=""
          />
          Reports</a
        >
      </li>

      <li
        class="w-[95%] cursor-pointer text-sm text-white font-light md:p-4 p-2 rounded-r-full hover:bg-[#5252e2] ease-out duration-200"
      >
        <a class="flex justify-start items-center truncate gap-2">
          <img
            class="w-[15px] h-[15px]"
            src="assets/icons/group-1000004594.svg"
            alt=""
          />
          Members</a
        >
      </li>

      <li
        class="w-[95%] cursor-pointer text-sm text-white font-light md:p-4 p-2 rounded-r-full hover:bg-[#5252e2] ease-out duration-200"
      >
        <a class="flex justify-start items-center truncate gap-2">
          <img
            class="w-[15px] h-[15px]"
            src="assets/icons/group-1000004594.svg"
            alt=""
          />
          Support</a
        >
      </li>
    </ul>
  </nav>
</section>
