<section
  class="w-full flex flex-col justify-start items-stretch gap-3 text-[#DCDDEF]"
>
  <div
    class="min-h-[80px] flex flex-wrap justify-center items-center lg:gap-24 gap-8 rounded-2xl md:p-[30px] p-[10px] md:mb-3 mb-1 bg-[#070723]"
  >
    <div class="flex justify-center items-center md:gap-3 gap-2">
      <img
        class="w-[33px] h-[33px]"
        src="assets/new-icons/svgexport-6 (7) 1.svg"
      />

      <div class="flex flex-col justify-center items-start gap-1">
        <span class="text-sm font-normal text-[#9596AA]">Asset Type</span>
        <span class="md:text-lg text-base font-bold">Domain</span>
      </div>
    </div>

    <div class="flex justify-center items-center md:gap-3 gap-2">
      <img
        class="w-[33px] h-[33px]"
        src="assets/new-icons/svgexport-17 - 2024-04-18T152800.042 1.svg"
      />

      <div class="flex flex-col justify-center items-start gap-1">
        <span class="text-sm font-normal text-[#9596AA]">Security Grade</span>
        <span class="md:text-lg text-base font-bold">A</span>
      </div>
    </div>

    <div class="flex justify-center items-center md:gap-3 gap-2">
      <img
        class="w-[33px] h-[33px]"
        src="assets/new-icons/svgexport-17 - 2024-04-17T124824.356 1.svg"
      />

      <div class="flex flex-col justify-center items-start gap-1">
        <span class="text-sm font-normal text-[#9596AA]">Severity</span>
        <span class="md:text-lg text-base font-bold">Critical</span>
      </div>
    </div>

    <div class="flex justify-center items-center md:gap-3 gap-2">
      <img class="w-[33px] h-[33px]" src="assets/new-icons/Path 5260.svg" />

      <div class="flex flex-col justify-center items-start gap-1">
        <span class="text-sm font-normal text-[#9596AA]"
          >Number of Vulnerbilities</span
        >
        <span class="md:text-lg text-base font-bold">152</span>
      </div>
    </div>
  </div>

  <h3 class="text-start text-xl font-semibold">Asset Details</h3>

  <div
    class="min-h-[80px] flex flex-wrap justify-start items-center lg:gap-24 gap-8 rounded-2xl md:p-[20px] p-[10px] md:mb-3 mb-1 bg-[#070723]"
  >
    <div class="flex flex-col justify-center items-start gap-1">
      <span class="text-base font-medium">IP Address</span>
      <span class="text-base font-medium text-[#9596AA]">Egypt</span>
    </div>

    <div class="flex flex-col justify-center items-start gap-1">
      <span class="text-base font-medium">ASN Number</span>
      <span class="text-base font-medium text-[#9596AA]"
        >125 4558 5485 5559</span
      >
    </div>

    <div class="flex flex-col justify-center items-start gap-1">
      <span class="text-base font-medium">CDN</span>
      <span class="text-base font-medium text-[#9596AA]">2855855</span>
    </div>

    <div class="flex flex-col justify-center items-start gap-1">
      <span class="text-base font-medium">Open Ports</span>
      <span class="text-base font-medium text-[#9596AA]">Egypt</span>
    </div>

    <div class="flex flex-col justify-center items-start gap-1">
      <span class="text-base font-medium">Location</span>
      <span class="text-base font-medium text-[#9596AA]"
        >Country/City/Region</span
      >
    </div>
  </div>

  <h3 class="text-start text-xl font-semibold">Technologies</h3>

  <!-- Table -->

  <h3 class="text-start text-xl font-semibold">Asset Vurnelbilities(70)</h3>

  <!-- Table -->

  <!-- TODO: Most Critical label -->

  <!-- <div
    class="flex justify-center items-center rounded-lg py-[9px] px-4 bg-[#e8000027]"
    >
    <span class="text-[#E80000]">Most Critical</span>
</div> -->

  <h3 class="text-start text-xl font-semibold">Screenshot</h3>

  <div class="flex justify-center items-center md:mb-3 mb-1">
    <img class="w-[700px] h-[700px]" src="assets/new-icons/image-5 1.png" />
  </div>

  <h3 class="text-start text-xl font-semibold">URLs</h3>

  <div class="flex flex-col justify-start items-stretch md:gap-3 gap-1">
    <div class="flex justify-start items-center p-4 rounded-xl bg-[#070723]">
      <p class="text-sm font-normal text-[#9596AA]">
        Lorem ipsum dolor sit amet consectetur. Nisl sit aliquam tincidunt quam
        enim a sed. Proin eu eleifend neque scelerisque egestas et. Eget
      </p>
    </div>

    <div class="flex justify-start items-center p-4 rounded-xl bg-[#070723]">
      <p class="text-sm font-normal text-[#9596AA]">
        Lorem ipsum dolor sit amet consectetur. Nisl sit aliquam tincidunt quam
        enim a sed. Proin eu eleifend neque scelerisque egestas et. Eget
      </p>
    </div>

    <div class="flex justify-start items-center p-4 rounded-xl bg-[#070723]">
      <p class="text-sm font-normal text-[#9596AA]">
        Lorem ipsum dolor sit amet consectetur. Nisl sit aliquam tincidunt quam
        enim a sed. Proin eu eleifend neque scelerisque egestas et. Eget
      </p>
    </div>
  </div>

  <div class="flex flex-col justify-start items-stretch md:mt-10 mt-4 gap-1">
    <span class="text-start text-sm font-semibold">Add Comment</span>

    <div class="flex justify-center items-center md:gap-5 gap-2">
      <input
        class="flex-1 h-[45px] md:px-3 px-1 text-sm placeholder:text-xs placeholder:text-[#9596AA] text-gray-100 bg-[#171834] rounded-3xl border-[1px] border-[#3F3F4D] focus:ring-[#5252E2] outline-none focus:border-[#3F3F4D] focus:ring-0"
        placeholder="Leave a comment to your Coworker "
        type="text"
      />

      <button
        class="h-[45px] w-[45px] flex justify-center items-center rounded-full border-[1px] border-[#3F3F4D] bg-[#171834]"
      >
        <img
          class="w-[18px] h-[18px]"
          src="assets/new-icons/svgexport-17 - 2024-03-28T145105.834 1.svg"
        />
      </button>
    </div>
  </div>
</section>
