<section class="w-full flex flex-wrap justify-between items-center gap-3">
  <div class="flex flex-row justify-start items-center gap-2">
    <span class="h-[16px] w-[3px] bg-[#5252E2] rounded-full"></span>
    <span class="md:text-base text-xs font-medium text-white"
      ><a routerLink="/layout/assessments">Attack Surface</a
      ><strong class="text-lg mx-1">»</strong>Affected assets</span
    >
  </div>

  <div class="flex flex-wrap justify-end items-center md:gap-4 gap-2">
    <div
      class="flex flex-wrap justify-start items-center gap-1 rounded-md bg-gray-600 p-[6px]"
    >
      <a
        class="w-auto h-5 flex justify-center items-center py-3 px-4 rounded-md hover:cursor-pointer bg-gray-300"
      >
        <!-- <span class="md:text-sm text-xs font-normal text-gray-400">All</span> -->
        <span class="md:text-sm text-xs font-normal text-gray-600">All</span>
      </a>

      <!-- TODO: Set bg-color => bg-gray-300 to show as selected -->
      <a
        class="w-auto h-5 flex justify-center items-center gap-1 rounded-md hover:cursor-pointer p-3"
      >
        <span class="h-3 w-5 bg-black"></span>
        <!-- TODO: Change color => text-gray-600 to show as selected -->
        <span class="md:text-sm text-xs font-normal text-gray-400"
          >critical</span
        >
      </a>

      <a
        class="w-auto h-5 flex justify-center items-center gap-1 rounded-md hover:cursor-pointer p-3"
      >
        <span class="h-3 w-5 bg-red-500"></span>
        <span class="md:text-sm text-xs font-normal text-gray-400">hight</span>
        <!-- <span class="md:text-sm text-xs font-normal text-gray-600">hight</span> -->
      </a>

      <a
        class="w-auto h-5 flex justify-center items-center gap-1 rounded-md hover:cursor-pointer p-3"
      >
        <span class="h-3 w-5 bg-orange-400"></span>
        <span class="md:text-sm text-xs font-normal text-gray-400">medium</span>
      </a>

      <a
        class="w-auto h-5 flex justify-center items-center gap-1 rounded-md hover:cursor-pointer p-3"
      >
        <span class="h-3 w-5 bg-blue-400"></span>
        <span class="md:text-sm text-xs font-normal text-gray-400">low</span>
      </a>

      <a
        class="w-auto h-5 flex justify-center items-center gap-1 rounded-md hover:cursor-pointer p-3"
      >
        <span class="h-3 w-5 bg-green-400"></span>
        <span class="md:text-sm text-xs font-normal text-gray-400"
          >no Issues</span
        >
      </a>

      <a
        class="w-auto h-5 flex justify-center items-center gap-1 rounded-md hover:cursor-pointer p-3"
      >
        <span class="h-3 w-5 bg-gray-200"></span>
        <span class="md:text-sm text-xs font-normal text-gray-400"
          >Informitonal</span
        >
      </a>
    </div>

    <div class="flex flex-row justify-center items-center gap-2">
      <!-- TODO: Set bg-color => bg-[#303049] to show as selected -->
      <a
        class="w-auto flex justify-center items-center rounded-md p-2 hover:cursor-pointer bg-[#0e0e29]"
      >
        <img class="w-[18px] h-[18px]" src="assets/icons/list (1).svg" />
      </a>

      <a
        class="w-auto flex justify-center items-center rounded-md p-2 hover:cursor-pointer bg-[#303049]"
      >
        <img class="w-[18px] h-[18px]" src="assets/icons/list-Icon.svg" />
      </a>
    </div>
  </div>
</section>

<section
  class="w-full grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 md:gap-2 gap-1 md:mt-4 mt-2"
>
  <div
    class="col-span-2 sm:col-span-3 md:col-span-5 flex flex-col justify-start items-stretch gap-2 md:gap-3 rounded-2xl bg-[#181833]"
  >
    <div
      class="flex flex-wrap justify-between items-center md:gap-3 gap-2 md:p-5 p-3"
    >
      <span class="md:text-base text-xs font-normal text-white">List</span>

      <div
        class="flex flex-row justify-center items-center px-3 rounded-full bg-gray-600"
      >
        <a class="flex justify-center items-center" href="#">
          <img src="assets/icons/search.svg" alt="" />
        </a>
        <input
          class="input-2 focus:border-none focus:ring-0"
          placeholder="Search"
          type="text"
        />
      </div>
    </div>

    <div
      class="max-h-[52vh] w-full flex justify-center items-center rounded-xl bg-[#181833] overflow-hidden"
    >
      <div class="h-full w-full relative overflow-x-auto px-2">
        <table class="table-1">
          <thead class="text-xs sticky top-0 bg-[#181833]">
            <tr class="md:px-3 px-1">
              <th scope="col" class="table-col">Asset name</th>
              <th scope="col" class="table-col">Column1</th>
              <th scope="col" class="table-col">Column2</th>
              <th scope="col" class="table-col">Column3</th>
              <th scope="col" class="table-col">Status</th>
              <th scope="col" class="table-col">Column4</th>
              <th scope="col" class="table-col"></th>
              <th scope="col" class="table-col"></th>
              <th scope="col" class="table-col"></th>
            </tr>
          </thead>

          <tbody>
            <!-- Make sure that you remove this *ngFor  -->
            <tr *ngFor="let item of [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]">
              <td class="table-col">Lorem ipsum dolor sit</td>
              <td scope="col" class="table-col">Lorem ipsum</td>
              <td scope="col" class="table-col">Lorem ipsum</td>
              <td scope="col" class="table-col">Lorem ipsum</td>

              <td class="table-col flex justify-start items-center">
                <div
                  class="flex flex-row justify-center items-center md:gap-2 gap-1"
                >
                  <!-- TODO: Change bg color based on the filter which the filter you clicked -->
                  <div
                    class="w-3 h-3 rounded-full border border-1-white bg-red-400"
                  ></div>

                  <!-- TODO: Change title with data building -->
                  <span class="md:text-sm text-xs font-normal text-white"
                    >hight</span
                  >
                </div>
              </td>
              <td scope="col" class="table-col">Lorem ipsum</td>
              <th scope="col" class="table-col"></th>
              <th scope="col" class="table-col"></th>
              <td class="table-col">
                <!-- TODO: Dropdown menu  -->
                <button
                  class="flex justify-center items-center w-6 h-6"
                  type="button"
                >
                  <img src="assets/icons/three-dots-horsental.svg" alt="" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-span-1 overflow-hidden rounded-md">
    <div
      class="w-full max-h-[66vh] overflow-auto flex flex-col justify-start items-stretch gap-2"
    >
      <a
        class="flex justify-start items-center rounded-md p-4 break-words hover:cursor-pointer text-white bg-[#303049]"
      >
        All
      </a>

      <!-- TODO: Set bg-color => bg-[#303049] to show as selected -->
      <a
        class="flex justify-start items-center rounded-md p-4 break-words hover:cursor-pointer text-white bg-[#0e0e29]"
      >
        Web applications
      </a>

      <a
        class="flex justify-start items-center rounded-md p-4 break-words hover:cursor-pointer text-white bg-[#0e0e29]"
      >
        Database server
      </a>

      <a
        class="flex justify-start items-center rounded-md p-4 break-words hover:cursor-pointer text-white bg-[#0e0e29]"
      >
        Asset Type 1
      </a>

      <a
        class="flex justify-start items-center rounded-md p-4 break-words hover:cursor-pointer text-white bg-[#0e0e29]"
      >
        Asset Type 2
      </a>

      <a
        class="flex justify-start items-center rounded-md p-4 break-words hover:cursor-pointer text-white bg-[#0e0e29]"
      >
        Asset Type 3
      </a>

      <a
        class="flex justify-start items-center rounded-md p-4 break-words hover:cursor-pointer text-white bg-[#0e0e29]"
      >
        Asset Type 4
      </a>

      <a
        class="flex justify-start items-center rounded-md p-4 break-words hover:cursor-pointer text-white bg-[#0e0e29]"
      >
        Asset Type 5
      </a>
    </div>
  </div>
</section>
