<section class="md:py-5 md:px-8 py-3 px-4 flex justify-center items-center">
  <div class="flex flex-col justify-center items-center md:gap-10 gap-5">
    <div class="flex flex-col justify-center items-center md:gap-4 gap-2">
      <img
        class="w-80 h-w-80"
        src="assets/images/animation_640_leo5707r.gif"
        alt=""
      />
      <p class="text-white text-xs font-normal">There is no Assessments</p>
    </div>

    <button
      class="md:px-24 px-16 md:py-[10px] py-1 rounded border-2 border-[#5252E2] text-[#5252E2] bg-transparent"
    >
      Go To Dashboard
    </button>
  </div>
</section>
