<section class="h-full w-full grid md:grid-cols-3 grid-cols-1">
  <div
    class="py-3 px-4 flex flex-col justify-center items-start gap-2 bg-[#5252E2] md:order-1 order-2"
  >
    <img class="w-5 h-5" src="assets/icons/noun-tips-2378579.svg" alt="info" />
    <span
      class="text-white sm:text-[.75em] text-sm font-semibold uppercase break-words"
    >
      UNDERSTAND VULNERABILITIES IN THE CONTEXT OF BUSINESS RISK.
    </span>
  </div>

  <div
    class="py-3 px-4 md:col-span-2 col-span-3 flex flex-col justify-start items-stretch sm:gap-3 gap-2 md:order-2 order-1"
  >
    <!-- Progress bar -->
    <div class="h-2 flex justify-start items-center bg-[#F0E6FF] rounded-md">
      <!-- change width based on completed form steps -->
      <div class="h-full w-1/2 bg-[#7733FF] rounded-md"></div>
    </div>

    <section
      class="relative h-full w-full flex flex-col justify-between items-stretch md:pb-2"
    >
      <!-- Form title -->

      <section
        class="flex flex-col justify-between items-center gap-1 text-gray-900"
      >
        <span class="text-[13px] font-semibold break-words"
          >PAYMENT PROCESS</span
        >

        <span class="text-[13px] font-normal break-words"
          >In a few simple steps, we will create an account for you</span
        >
      </section>

      <!-- Form -->
      <section class="h-full flex justify-center items-center md:my-2 my-1">
        <form
          action=""
          class="lg:w-2/3 w-full h-full p-0 m-0 flex flex-col justify-start items-stretch md:gap-4 gap-2 md:pt-2 pt-1"
        >
          <div class="flex flex-wrap justify-between items-center">
            <div class="flex justify-center items-center md:gap-2 gap-1">
              <input
                id="paypal"
                class="w-4 h-4 text-[#5252e2] bg-gray-100 border-gray-300"
                type="radio"
                name="paymentType"
              />
              <label for="paypal" class="flex justify-center items-center">
                <img
                  class="md:w-[70px] w-[60px] md:h-[27px] h-[22px]"
                  src="assets/icons/Paypal.svg"
                  alt="Paypal"
                />
              </label>
            </div>

            <div class="flex justify-center items-center md:gap-2 gap-1">
              <input
                id="master_card"
                class="w-4 h-4 text-[#5252e2] bg-gray-100 border-gray-300"
                type="radio"
                name="paymentType"
              />
              <label for="master_card" class="flex justify-center items-center">
                <img
                  class="md:w-[70px] w-[60px] md:h-[27px] h-[22px]"
                  src="assets/icons/Mastercard.svg"
                  alt="Paypal"
                />
              </label>
            </div>

            <div class="flex justify-center items-center md:gap-2 gap-1">
              <input
                id="visa"
                class="w-4 h-4 text-[#5252e2] bg-gray-100 border-gray-300"
                type="radio"
                name="paymentType"
              />
              <label for="visa" class="flex justify-center items-center">
                <img
                  class="md:w-[70px] w-[60px] md:h-[27px] h-[22px]"
                  src="assets/icons/Visa.svg"
                  alt="Paypal"
                />
              </label>
            </div>
          </div>

          <div class="relative z-0">
            <input
              type="text"
              id="cordNum"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#5252e2] focus:outline-none focus:ring-0 focus:border-[#5252e2] peer"
              placeholder=" "
            />
            <label
              for="cordNum"
              class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#5252e2] peer-focus:dark:text-[#5252e2] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              ><span>Card Number</span>
              <span class="mx-1 text-red-600">⁕</span></label
            >
          </div>

          <div class="relative z-0">
            <input
              type="text"
              id="cordHolderName"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#5252e2] focus:outline-none focus:ring-0 focus:border-[#5252e2] peer"
              placeholder=" "
            />
            <label
              for="cordHolderName"
              class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#5252e2] peer-focus:dark:text-[#5252e2] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              ><span>Card Holder Name</span>
              <span class="mx-1 text-red-600">⁕</span></label
            >
          </div>

          <div class="flex flex-wrap justify-between items-center md:mt-4 mt-2">
            <div class="w-1/4">
              <label for="month" class="sr-only"
                ><span>MM</span> <span class="text-red-600">⁕</span></label
              >
              <select
                id="month"
                class="py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
              >
                <option selected>MM</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>

            <div class="w-1/4">
              <label for="year" class="sr-only"
                ><span>YYYY</span> <span class="text-red-600">⁕</span></label
              >
              <select
                id="year"
                class="py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
              >
                <option selected>YYYY</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>

            <div class="w-1/4 relative z-0">
              <input
                type="number"
                id="cordHolderName"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#5252e2] focus:outline-none focus:ring-0 focus:border-[#5252e2] peer"
                placeholder="Cvv"
              />
              <label
                for="cordHolderName"
                class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#5252e2] peer-focus:dark:text-[#5252e2] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                ><span></span>
              </label>
            </div>
          </div>

          <div class="flex items-center">
            <input
              id="checked-checkbox"
              type="checkbox"
              value=""
              class="w-[15px] h-[15px] text-[#5252e2] bg-gray-100 border-gray-300 rounded focus:ring-[#5252e2] dark:focus:ring-[#5252e2] dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              for="checked-checkbox"
              class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300 cursor-pointer"
              >Save credit card information.</label
            >
          </div>
        </form>
      </section>

      <section
        class="flex flex-col justify-center items-stretch gap-2 md:mt-4 mt-2"
      >
        <div class="flex justify-center items-center">
          <button
            class="lg:w-2/3 w-full py-[5px] px-2 rounded-3xl flex justify-center items-center bg-[#5252e2]"
          >
            <span
              class="md:text-base text-sm md:font-normal font-light text-white"
              >Next</span
            >
          </button>
        </div>

        <div class="flex justify-center items-center"></div>
      </section>
    </section>
  </div>
</section>
