<div class="flex flex-wrap justify-between items-center md:gap-2 gap-1">
  <a
    routerLink="/layout/automated-security/questions"
    class="flex justify-center items-center md:gap-2 gap-1"
  >
    <div class="step-circle bg-white text-[#27273F]">1</div>

    <span class="md:text-sm text-xs font-medium text-white">Questionnaire</span>
  </a>

  <a
    routerLink="/layout/automated-security/assets-discovery"
    class="flex justify-center items-center md:gap-2 gap-1"
  >
    <div class="next-step-circle">
      <div class="line bg-[#7E7E81]"></div>
      <div class="circle bg-[#7E7E81] text-white">2</div>
    </div>

    <span
      class="flex flex-col justify-center items-start md:text-sm text-xs font-medium text-white"
    >
      <span>Assets</span>
      <span>Discovery</span>
    </span>
  </a>

  <a href="#" class="flex justify-center items-center md:gap-2 gap-1">
    <div class="next-step-circle">
      <div class="line bg-[#7E7E81]"></div>
      <div class="circle bg-[#7E7E81] text-white">3</div>
    </div>

    <span
      class="flex flex-col justify-center items-start md:text-sm text-xs font-medium text-white"
    >
      <span>Storm</span>
      <span>Recommendation</span>
    </span>
  </a>

  <a href="#" class="flex justify-center items-center md:gap-2 gap-1">
    <div class="next-step-circle">
      <div class="line bg-[#7E7E81]"></div>
      <div class="circle bg-[#7E7E81] text-white">4</div>
    </div>

    <span
      class="flex flex-col justify-center items-start md:text-sm text-xs font-medium text-white"
    >
      <span>Assessment</span>
      <span>Implementation</span>
    </span>
  </a>

  <a href="#" class="flex justify-center items-center md:gap-2 gap-1">
    <div class="next-step-circle">
      <div class="line bg-[#7E7E81]"></div>
      <div class="circle bg-[#7E7E81] text-white">5</div>
    </div>

    <span
      class="flex flex-col justify-center items-start md:text-sm text-xs font-medium text-white"
    >
      <span>Assessment</span>
      <span>Results</span>
    </span>
  </a>
</div>
