<div
  class="date-range relative flex flex-grow flex-row justify-between items-center"
>
  <mat-form-field class="w-full" appearance="outline" (click)="picker.open()">
    <mat-label>{{ label }}</mat-label>
    <mat-date-range-input [formGroup]="formGroup" [rangePicker]="picker">
      <input matStartDate formControlName="from" />
      <input matEndDate formControlName="to" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <app-button
    *ngIf="!!formGroup?.value?.from || !!formGroup?.value?.to"
    [matType]="ButtonTypes.icon"
    [color]="ButtonColors.primary"
    icon="cached"
    class="ms-1"
    (clicked)="onReset()"
  ></app-button>
</div>
