<section class="w-full flex flex-row justify-start items-center gap-2">
  <span class="h-[16px] w-[3px] bg-[#5252E2] rounded-full"></span>
  <span class="md:text-base text-xs font-medium text-white"
    ><a>Darkweb</a></span
  >
</section>

<section
  class="w-full grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 grid-cols-1 justify-items-stretch md:gap-3 gap-1 my-1"
>
  <div
    class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
  >
    <div class="flex flex-row justify-between items-stretch">
      <div
        class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
      >
        <span class="text-xs font-normal truncate">Leaked credentials</span>
        <span class="text-2xl font-bold truncate">924</span>
      </div>
      <div class="flex justify-center items-start">
        <div
          class="flex justify-center items-center rounded-full p-3 bg-[#11cdef]"
        >
          <img class="w-5 h-5" src="assets/icons/data (1).svg" alt="" />
        </div>
      </div>
    </div>

    <div class="flex justify-start items-center md:gap-4 gap-2">
      <span class="text-xs font-normal truncate text-[#2dce98]">+3.48%</span>
      <span class="text-xs font-normal truncate">Since last month</span>
    </div>
  </div>

  <div
    class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
  >
    <div class="flex flex-row justify-between items-stretch">
      <div
        class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
      >
        <span class="text-xs font-normal truncate">Compromised Employees</span>
        <span class="text-2xl font-bold truncate">924</span>
      </div>
      <div class="flex justify-center items-start">
        <div
          class="flex justify-center items-center rounded-full p-3 bg-[#7764e4]"
        >
          <img class="w-5 h-5" src="assets/icons/data (1).svg" alt="" />
        </div>
      </div>
    </div>

    <div class="flex justify-start items-center md:gap-4 gap-2">
      <span class="text-xs font-normal truncate text-[#2dce98]">+3.48%</span>
      <span class="text-xs font-normal truncate">Since last month</span>
    </div>
  </div>
</section>

<section
  class="w-full grid md:grid-cols-2 grid-cols-1 justify-items-stretch md:gap-2 gap-1 md:mt-3 mt-1"
>
  <div
    class="h-[50vh] overflow-y-auto flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] rounded-xl"
  >
    <div
      class="w-full flex flex-start items-center text-white md:text-sm text-xs md:font-medium font-light"
    >
      Leaked Credentials
    </div>

    <div
      class="flex flex-row justify-start items-center rounded-lg overflow-hidden bg-[#070723] text-gray-500"
    >
      <div class="md:w-[7px] w-1 h-full bg-[#5252e2] rounded-l-lg"></div>
      <div
        class="flex flex-wrap justify-start items-center md:gap-2 gap-1 md:py-3 py-2 px-2"
      >
        <span>User name</span>, <span>Password</span>
      </div>
    </div>

    <div
      class="flex flex-row justify-start items-center rounded-lg overflow-hidden bg-[#070723] text-gray-500"
    >
      <div class="md:w-[7px] w-1 h-full bg-[#5252e2] rounded-l-lg"></div>
      <div
        class="flex flex-wrap justify-start items-center md:gap-2 gap-1 md:py-3 py-2 px-2"
      >
        <span>User name</span>, <span>Password</span>
      </div>
    </div>

    <div
      class="flex flex-row justify-start items-center rounded-lg overflow-hidden bg-[#070723] text-gray-500"
    >
      <div class="md:w-[7px] w-1 h-full bg-[#5252e2] rounded-l-lg"></div>
      <div
        class="flex flex-wrap justify-start items-center md:gap-2 gap-1 md:py-3 py-2 px-2"
      >
        <span>User name</span>, <span>Password</span>
      </div>
    </div>

    <div
      class="flex flex-row justify-start items-center rounded-lg overflow-hidden bg-[#070723] text-gray-500"
    >
      <div class="md:w-[7px] w-1 h-full bg-[#5252e2] rounded-l-lg"></div>
      <div
        class="flex flex-wrap justify-start items-center md:gap-2 gap-1 md:py-3 py-2 px-2"
      >
        <span>User name</span>, <span>Password</span>
      </div>
    </div>
  </div>

  <div
    class="h-[50vh] overflow-y-auto flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] rounded-xl"
  >
    <div
      class="w-full flex flex-start items-center text-white md:text-sm text-xs md:font-medium font-light"
    >
      Compromised Employees
    </div>

    <div
      class="flex flex-row justify-start items-center rounded-lg overflow-hidden bg-[#070723] text-gray-500"
    >
      <div class="md:w-[7px] w-1 h-full bg-[#5252e2] rounded-l-lg"></div>
      <div
        class="flex flex-wrap justify-start items-center md:gap-2 gap-1 md:py-3 py-2 px-2"
      >
        <span>Password</span>, <span>personal files</span>,
        <span>browsing history</span>
      </div>
    </div>

    <div
      class="flex flex-row justify-start items-center rounded-lg overflow-hidden bg-[#070723] text-gray-500"
    >
      <div class="md:w-[7px] w-1 h-full bg-[#5252e2] rounded-l-lg"></div>
      <div
        class="flex flex-wrap justify-start items-center md:gap-2 gap-1 md:py-3 py-2 px-2"
      >
        <span>Password</span>, <span>personal files</span>,
        <span>browsing history</span>
      </div>
    </div>

    <div
      class="flex flex-row justify-start items-center rounded-lg overflow-hidden bg-[#070723] text-gray-500"
    >
      <div class="md:w-[7px] w-1 h-full bg-[#5252e2] rounded-l-lg"></div>
      <div
        class="flex flex-wrap justify-start items-center md:gap-2 gap-1 md:py-3 py-2 px-2"
      >
        <span>Password</span>, <span>personal files</span>,
        <span>browsing history</span>
      </div>
    </div>

    <div
      class="flex flex-row justify-start items-center rounded-lg overflow-hidden bg-[#070723] text-gray-500"
    >
      <div class="md:w-[7px] w-1 h-full bg-[#5252e2] rounded-l-lg"></div>
      <div
        class="flex flex-wrap justify-start items-center md:gap-2 gap-1 md:py-3 py-2 px-2"
      >
        <span>Password</span>, <span>personal files</span>,
        <span>browsing history</span>
      </div>
    </div>
  </div>
</section>
