<section class="relative top-0 h-full w-auto pt-[6vh]">
  <div
    id="accordion-open"
    class="max-h-[72vh] overflow-y-auto sticky top-[70px] py-2 rounded-r-[4px] bg-[#070723]"
    data-active-classes="bg-transparent"
    data-accordion="collapse"
  >
    <ng-container
      *ngFor="let item of sideMenu; let isLast = last; let i = index"
    >
      <div id="accordion-open-heading-1" class="px-2">
        <button
          type="button"
          class="flex justify-center items-center"
          (click)="onToggleTab(i)"
        >
          <img class="sm:w-8 w-6 sm:h-8 h-6" [src]="item?.icon" alt="" />
        </button>
      </div>

      <div
        *ngIf="item?.opened"
        class="md:mt-3 mt-1 px-2 ease-in-out duration-100"
      >
        <div
          class="w-full flex flex-col justify-center items-center md:gap-2 gap-0"
        >
          <ng-container *ngFor="let child of item.chields">
            <a
              [routerLink]="child.path"
              routerLinkActive
              #rla="routerLinkActive"
              [routerLinkActiveOptions]="{ exact: true }"
              class="flex justify-center items-center cursor-pointer p-[5px] rounded-md"
              [ngClass]="rla.isActive ? 'bg-[#5252e2]' : 'bg-[#20203B]'"
            >
              <img class="sm:w-6 w-5 sm:h-6 h-5" [src]="child.icon" alt="" />
            </a>
          </ng-container>
        </div>
      </div>

      <div
        *ngIf="!isLast"
        class="md:my-2 my-1 w-full h-[1px] bg-gray-800"
      ></div>
    </ng-container>
  </div>
</section>
