<section class="relative side-menu top-0 h-full w-auto pt-[6vh]">
  <div
    class="max-h-[72vh] overflow-y-auto sticky top-[70px] py-2 rounded-r-[4px] bg-[#070723]"
  >
    <ng-container
      *ngFor="let item of sideMenu; let isLast = last; let i = index"
    >
      <div class="px-2">
        <button
          type="button"
          class="flex justify-center items-center"
          (click)="onToggleTab(i)"
        >
          <img class="sm:w-8 w-6 sm:h-8 h-6" [src]="item?.icon" alt="" />
        </button>
      </div>

      <div
        *ngIf="item?.opened"
        class="md:mt-3 mt-1 px-2 ease-in-out duration-100"
      >
        <div
          class="w-full flex flex-col justify-center items-center md:gap-2 gap-0"
        >
          <ng-container *ngFor="let child of item.chields">
            <a
              [routerLink]="child.path"
              routerLinkActive
              #rla="routerLinkActive"
              [routerLinkActiveOptions]="{ exact: true }"
              class="flex justify-center items-center cursor-pointer p-[5px] rounded-md"
              [ngClass]="rla.isActive ? 'bg-[#5252e2]' : 'bg-[#20203B]'"
            >
              <img class="sm:w-6 w-5 sm:h-6 h-5" [src]="child.icon" alt="" />
            </a>
          </ng-container>
        </div>
      </div>

      <div
        *ngIf="!isLast"
        class="md:my-2 my-1 w-full h-[1px] bg-gray-800"
      ></div>
    </ng-container>
  </div>

  <div class="menu-content">
    <div class="w-full h-full flex flex-col justify-start items-stretch">
      <ng-container
        *ngFor="let item of sideMenu; let isLast = last; let i = index"
      >
        <button
          class="sm:h-8 h-6 flex justify-between items-center rounded mx-2"
          type="button"
          (click)="onToggleTab(i)"
        >
          <span
            class="text-white sm:text-base text-xs sm:font-normal font-extralight break-words"
          >
            {{ item?.title }}
          </span>
          <img class="w-[18px] h-[18px]" src="assets/icons/more.svg" />
        </button>

        <div
          *ngIf="item?.opened"
          class="md:mt-3 mt-1 px-2 ease-in-out duration-100"
        >
          <div
            class="w-full flex flex-col justify-center items-stretch md:gap-2 gap-0"
          >
            <a
              *ngFor="let child of item.chields"
              [routerLink]="child.path"
              routerLinkActive
              #rla="routerLinkActive"
              [routerLinkActiveOptions]="{ exact: true }"
              class="mx-2 flex justify-start items-center cursor-pointer p-[5px] text-white shadow-md rounded-md"
              [ngClass]="
                rla.isActive
                  ? ' bg-gray-500 shadow-md'
                  : 'bg-gray-600 shadow-none'
              "
            >
              <span
                class="sm:h-6 h-5 sm:text-sm text-xs sm:font-normal font-extralight break-words"
              >
                {{ child?.title }}
              </span>
            </a>
          </div>
        </div>

        <div
          *ngIf="!isLast"
          class="md:my-2 my-1 w-full h-[1px] bg-gray-800"
        ></div>
      </ng-container>
    </div>
  </div>
</section>
