<section class="relative top-0 h-full w-auto md:w-[3.7vw] pt-[6vh]">
  <div
    id="accordion-open"
    class="max-h-[72vh] overflow-y-auto sticky top-[70px] py-2 rounded-r-md bg-[#070723]"
    data-active-classes="bg-transparent"
    data-accordion="collapse"
  >
    <div id="accordion-open-heading-1" class="px-2">
      <button
        type="button"
        class="flex justify-center items-center"
        data-accordion-target="#accordion-open-body-1"
        aria-expanded="true"
        aria-controls="accordion-open-body-1"
      >
        <img src="assets/icons/Group 18.svg" alt="" />
      </button>
    </div>

    <div
      id="accordion-open-body-1"
      class="hidden md:mt-3 mt-1 px-2"
      aria-labelledby="accordion-open-heading-1"
    >
      <div
        class="w-full flex flex-col justify-center items-center md:gap-2 gap-0"
      >
        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#5252e2]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>
      </div>
    </div>

    <div class="md:my-2 my-1 w-full h-[1px] bg-gray-800"></div>

    <div id="accordion-open-heading-2" class="px-2">
      <button
        type="button"
        class="flex justify-center items-center"
        data-accordion-target="#accordion-open-body-2"
        aria-expanded="false"
        aria-controls="accordion-open-body-2"
      >
        <img src="assets/icons/Group 18.svg" alt="" />
      </button>
    </div>

    <div
      id="accordion-open-body-2"
      class="hidden md:mt-3 mt-1 px-2"
      aria-labelledby="accordion-open-heading-2"
    >
      <div
        class="w-full flex flex-col justify-center items-center md:gap-2 gap-0"
      >
        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#5252e2]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>
      </div>
    </div>

    <div class="md:my-2 my-1 w-full h-[1px] bg-gray-800"></div>

    <div id="accordion-open-heading-3" class="px-2">
      <button
        type="button"
        class="flex justify-center items-center"
        data-accordion-target="#accordion-open-body-3"
        aria-expanded="false"
        aria-controls="accordion-open-body-3"
      >
        <img src="assets/icons/Group 18.svg" alt="" />
      </button>
    </div>

    <div
      id="accordion-open-body-3"
      class="hidden md:mt-3 mt-1 px-2"
      aria-labelledby="accordion-open-heading-3"
    >
      <div
        class="w-full flex flex-col justify-center items-center md:gap-2 gap-0"
      >
        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#5252e2]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>
      </div>
    </div>

    <div class="md:my-2 my-1 w-full h-[1px] bg-gray-800"></div>

    <div id="accordion-open-heading-4" class="px-2">
      <button
        type="button"
        class="flex justify-center items-center"
        data-accordion-target="#accordion-open-body-4"
        aria-expanded="false"
        aria-controls="accordion-open-body-4"
      >
        <img src="assets/icons/Group 18.svg" alt="" />
      </button>
    </div>

    <div
      id="accordion-open-body-4"
      class="hidden md:mt-3 mt-1 px-2"
      aria-labelledby="accordion-open-heading-4"
    >
      <div
        class="w-full flex flex-col justify-center items-center md:gap-2 gap-0"
      >
        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#5252e2]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>
      </div>
    </div>

    <div class="md:my-2 my-1 w-full h-[1px] bg-gray-800"></div>

    <div id="accordion-open-heading-5" class="px-2">
      <button
        type="button"
        class="flex justify-center items-center"
        data-accordion-target="#accordion-open-body-5"
        aria-expanded="false"
        aria-controls="accordion-open-body-5"
      >
        <img src="assets/icons/Group 18.svg" alt="" />
      </button>
    </div>

    <div
      id="accordion-open-body-5"
      class="hidden px-2 md:mt-3 mt-1"
      aria-labelledby="accordion-open-heading-5"
    >
      <div
        class="w-full flex flex-col justify-center items-center md:gap-2 gap-0"
      >
        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#5252e2]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>

        <a
          class="flex justify-center items-center cursor-pointer p-[5px] rounded-md bg-[#20203B]"
        >
          <img src="assets/icons/artificial-intelligence.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
