<!-- Search input -->
<div
  class="flex flex-row justify-center items-center md:px-3 px-1 rounded-full bg-gray-600"
>
  <a class="flex justify-center items-center" href="#">
    <img src="assets/icons/search.svg" alt="" />
  </a>
  <input
    class="input-2 focus:border-none focus:ring-0"
    placeholder="Search"
    type="text"
  />
</div>

<!-- Input 1 -->
<div class="relative z-0">
  <input
    type="text"
    id="userName"
    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#5252E2] focus:outline-none focus:ring-0 focus:border-[#5252e2] peer"
    placeholder=" "
  />
  <label
    for="userName"
    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-[#5252e2] peer-focus:dark:text-[#5252E2] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
    ><span>User name</span> <span class="mx-1 text-red-600">⁕</span></label
  >
</div>

<!-- Select -->
<label for="month" class="sr-only">Select</label>
<select id="month" class="input-1 w-1/4">
  <option disabled selected>YYYY</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
</select>
