<!-- Alert -->
<div
  class="w-auto md:h-12 h-8 flex flex-row justify-start justify-items-stretch items-center bg-[#F0E6FF] rounded-xl md:mt-3 mt-1"
>
  <a
    href="#"
    class="flex justify-center items-center h-full md:w-12 w-8 text-white bg-gray-900 rounded-xl cursor-pointer"
  >
    X
  </a>

  <div
    class="h-full flex-grow flex flex-col justify-start items-stretch text-sm text-[#343434] py-1 md:px-2 px-1"
  >
    <span>Sorry,</span>
    <span class="break-words">
      enter a right user name or register a new account.</span
    >
  </div>
</div>
