<!-- Table 1 -->
<div class="relative overflow-x-auto">
  <table class="table-1">
    <thead class="text-xs">
      <tr class="md:px-3 px-1">
        <th scope="col" class="table-col">Name</th>
        <th scope="col" class="table-col">Email address</th>
        <th scope="col" class="table-col">Role</th>
        <th scope="col" class="table-col">Column</th>
        <th scope="col" class="table-col"></th>
        <th scope="col" class="table-col"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="table-col">Lorem ipsum dolor sit</td>
        <td class="table-col">Name@cybral.com</td>
        <td class="table-col">IT Manager</td>
        <td class="table-col">Lorem ipsum</td>
        <td class="table-col"></td>
        <td class="table-col"></td>
      </tr>

      <tr>
        <td class="table-col">Lorem ipsum dolor sit</td>
        <td class="table-col">Name@cybral.com</td>
        <td class="table-col">IT Manager</td>
        <td class="table-col">Lorem ipsum</td>
        <td class="table-col"></td>
        <td class="table-col"></td>
      </tr>
    </tbody>
  </table>
</div>
