<section class="w-full flex flex-row justify-start items-center gap-2">
  <span class="h-[16px] w-[3px] bg-[#5252E2] rounded-full"></span>
  <span class="md:text-base text-xs font-medium text-white"
    ><a routerLink="/layout/assessments">Attack Surface</a
    ><strong class="text-lg mx-1">»</strong>vulnerabilities</span
  >
</section>

<section
  class="w-full grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 grid-cols-1 justify-items-stretch md:gap-3 gap-1 my-1"
>
  <div
    class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
  >
    <div class="flex flex-row justify-between items-stretch">
      <div
        class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
      >
        <span class="text-xs font-normal truncate">Assets</span>
        <span class="text-2xl font-bold truncate">123,456</span>
      </div>
      <div class="flex justify-center items-start">
        <div
          class="flex justify-center items-center rounded-full p-3 bg-[#2dce98]"
        >
          <img class="w-5 h-5" src="assets/icons/node.svg" alt="" />
        </div>
      </div>
    </div>

    <div class="flex justify-start items-center md:gap-4 gap-2">
      <span class="text-xs font-normal truncate text-[#2dce98]">+3.48%</span>
      <span class="text-xs font-normal truncate">Since last month</span>
    </div>
  </div>

  <div
    class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
  >
    <div class="flex flex-row justify-between items-stretch">
      <div
        class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
      >
        <span class="text-xs font-normal truncate">Subdomains</span>
        <span class="text-2xl font-bold truncate">50</span>
      </div>
      <div class="flex justify-center items-start">
        <div
          class="flex justify-center items-center rounded-full p-3 bg-[#f53c56]"
        >
          <img class="w-5 h-5" src="assets/icons/internet.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
  >
    <div class="flex flex-row justify-between items-stretch">
      <div
        class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
      >
        <span class="text-xs font-normal truncate">IP addresses</span>
        <span class="text-2xl font-bold truncate">924</span>
      </div>
      <div class="flex justify-center items-start">
        <div
          class="flex justify-center items-center rounded-full p-3 bg-[#7764e4]"
        >
          <img class="w-5 h-5" src="assets/icons/ip-address.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
  >
    <div class="flex flex-row justify-between items-stretch">
      <div
        class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
      >
        <span class="text-xs font-normal truncate">Leaked credentials</span>
        <span class="text-2xl font-bold truncate">123,456</span>
      </div>
      <div class="flex justify-center items-start">
        <div
          class="flex justify-center items-center rounded-full p-3 bg-[#11cdef]"
        >
          <img class="w-5 h-5" src="assets/icons/data (1).svg" alt="" />
        </div>
      </div>
    </div>

    <div class="flex justify-start items-center md:gap-4 gap-2">
      <span class="text-xs font-normal truncate text-[#2dce98]">+3.48%</span>
      <span class="text-xs font-normal truncate">Since last month</span>
    </div>
  </div>

  <div
    class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
  >
    <div class="flex flex-row justify-between items-stretch">
      <div
        class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
      >
        <span class="text-xs font-normal truncate">Vulnerabilities</span>
        <span class="text-2xl font-bold truncate">309</span>
      </div>
      <div class="flex justify-center items-start">
        <div
          class="flex justify-center items-center rounded-full p-3 bg-[#ff8a45]"
        >
          <img class="w-5 h-5" src="assets/icons/shield (1).svg" alt="" />
        </div>
      </div>
    </div>

    <div class="flex justify-start items-center md:gap-4 gap-2">
      <div
        class="flex justify-start items-center md:gap-2 gap-1 text-xs font-normal truncate"
      >
        <span class="text-red-600">89</span>
        <span>High</span>
      </div>

      <div
        class="flex justify-start items-center md:gap-2 gap-1 text-xs font-normal truncate"
      >
        <span class="text-yellow-400">89</span>
        <span>Medium</span>
      </div>

      <div
        class="flex justify-start items-center md:gap-2 gap-1 text-xs font-normal truncate"
      >
        <span class="text-green-600">189</span>
        <span>Low</span>
      </div>
    </div>
  </div>
</section>

<section
  class="w-full grid md:grid-cols-6 grid-cols-1 justify-items-stretch md:gap-2 gap-1 md:mt-3 mt-1"
>
  <div
    class="md:col-span-4 col-span-1 flex flex-col justify-start items-center md:gap-2 gap-1 p-2 bg-[#0e0e29] rounded-xl"
  >
    <div
      class="w-full grid sm:grid-cols-2 lg:grid-cols-3 justify-items-stretch md:gap-3 gap-1"
    >
      <div class="flex justify-between items-center rounded-xl p-2 bg-gray-600">
        <div class="flex flex-row justify-start items-center gap-2">
          <img class="w-6 h-6" src="assets/icons/Group 17.svg" alt="" />
          <span class="md:text-sm text-xs md:font-normal font-light text-white"
            >RECOMMENDED ACTIONS</span
          >
        </div>
        <span class="text-2xl font-bold truncate text-gray-300">14</span>
      </div>

      <div class="flex justify-between items-center rounded-xl p-2 bg-gray-600">
        <div class="flex flex-row justify-start items-center gap-2">
          <img class="w-6 h-6" src="assets/icons/Group 17.svg" alt="" />
          <span class="md:text-sm text-xs md:font-normal font-light text-white"
            >MOST CRITICAL ASSETS</span
          >
        </div>
        <span class="text-2xl font-bold truncate text-gray-300">23</span>
      </div>

      <div class="flex justify-between items-center rounded-xl p-2 bg-gray-600">
        <div class="flex flex-row justify-start items-center gap-2">
          <img class="w-6 h-6" src="assets/icons/Group 17.svg" alt="" />
          <span class="md:text-sm text-xs md:font-normal font-light text-white"
            >AFFECTED ASSETS</span
          >
        </div>
        <span class="text-2xl font-bold truncate text-gray-300">96</span>
      </div>
    </div>

    <div
      class="max-h-[45vh] w-full flex justify-center items-center rounded-xl px-2 bg-[#20203B]"
    >
      <div class="h-full w-full relative overflow-x-auto">
        <table class="table-1">
          <thead class="text-xs sticky top-0 bg-[#20203B]">
            <tr class="md:px-3 px-1">
              <th scope="col" class="table-col">Issue</th>
              <th scope="col" class="table-col">Severity</th>
              <th scope="col" class="table-col">Assets</th>
              <th scope="col" class="table-col">Description</th>
              <th scope="col" class="table-col">Technology</th>
              <th scope="col" class="table-col"></th>
              <th scope="col" class="table-col"></th>
            </tr>
          </thead>

          <tbody>
            <!-- Make sure that you remove this *ngFor  -->
            <tr *ngFor="let item of [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]">
              <td class="table-col">Lorem ipsum</td>
              <td scope="col" class="table-col">Lorem ipsum</td>
              <td scope="col" class="table-col text-[#5252E2]">66</td>
              <td scope="col" class="table-col">Lorem ipsum dolor sit amet,</td>
              <td scope="col" class="table-col">Lorem ipsum</td>

              <td class="table-col flex justify-center items-center">
                <a
                  class="w-auto md:px-3 px-2 rounded-full border-2 border-white md:text-sm text-xs font-normal hover:cursor-pointer hover:shadow"
                >
                  View
                </a>
              </td>
              <td class="table-col">
                <button
                  data-dropdown-toggle="optionsDropdown1"
                  class="flex justify-center items-center w-6 h-6"
                  type="button"
                >
                  <img src="assets/icons/three-dots-horsental.svg" alt="" />
                </button>

                <div
                  id="optionsDropdown1"
                  class="z-999 hidden bg-[#27273F] divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
                >
                  <ul
                    class="p-2 text-sm text-gray-100 dark:text-gray-200"
                    aria-labelledby="dropdownDefaultButton"
                  >
                    <li>
                      <a
                        href="#"
                        class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
                        >Dashboard</a
                      >
                    </li>
                    <li>
                      <a
                        href="#"
                        class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
                        >Settings</a
                      >
                    </li>
                    <li>
                      <a
                        href="#"
                        class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
                        >Earnings</a
                      >
                    </li>
                    <li>
                      <a
                        href="#"
                        class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
                        >Sign out</a
                      >
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div
    class="max-h-[50vh] md:col-span-2 col-span-1 grid grid-cols-2 content-start justify-items-stretch md:gap-2 gap-1"
  >
    <div
      class="sm:col-span-1 col-span-2 max-h-[155px] md:overflow-y-hidden md:hover:overflow-y-auto overflow-auto flex flex-col justify-start items-stretch md:gap-2 gap-1 md:px-3 px-2 pb-2 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div
        class="sticky top-0 pt-2 text-start md:text-sm md:font-medium text-xs font-light bg-[#0e0e29] text-white"
      >
        Domain Names
      </div>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 1</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 2</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 3</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 4</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>
    </div>

    <div
      class="sm:col-span-1 col-span-2 max-h-[155px] md:overflow-y-hidden md:hover:overflow-y-auto overflow-auto flex flex-col justify-start items-stretch md:gap-2 gap-1 md:px-3 px-2 pb-2 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div
        class="sticky top-0 pt-2 text-start md:text-sm md:font-medium text-xs font-light bg-[#0e0e29] text-white"
      >
        defaced Names
      </div>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 1</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 2</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 3</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>

      <a
        class="flex justify-between items-center py-[2px] px-2 cursor-pointer rounded-lg bg-[#070723]"
      >
        <span class="text-start md:text-sm md:font-normal text-xs font-light"
          >domain 4</span
        >
        <strong class="text-lg mx-1">»</strong>
      </a>
    </div>

    <div
      class="max-h-[calc(50vh-155px)] col-span-2 flex justify-center items-center bg-[#0e0e29] rounded-xl"
    >
      <img
        class="max-h-full min-w-full"
        src="assets/images/Group 12043.svg"
        alt=""
      />
    </div>
  </div>
</section>
