<section
  class="w-full flex flex-col justify-start items-stretch gap-3 text-[#DCDDEF]"
>
  <div class="flex flex-col justify-center items-start gap-1 py-5">
    <span class="text-start text-xl font-semibold">URL:</span>
    <p class="text-sm font-normal text-[#9596AA]">
      https://www.youtube.com/watch?v=bSvtrhOxsps&ab_channel=HeliosDeep
    </p>
  </div>

  <div
    class="min-h-[80px] flex flex-wrap justify-center items-center lg:gap-24 gap-8 rounded-2xl md:p-[30px] p-[10px] md:mb-3 mb-1 bg-[#070723]"
  >
    <div class="flex justify-center items-center md:gap-3 gap-2">
      <img class="w-[30px] h-[30px]" src="assets/new-icons/Group-88.svg" />

      <div class="flex flex-col justify-center items-start">
        <span class="text-sm font-normal text-[#9596AA]">IP</span>
        <span class="text-base font-bold">192.168.1/25</span>
      </div>
    </div>

    <div class="flex justify-center items-center md:gap-3 gap-2">
      <img
        class="w-[30px] h-[30px]"
        src="assets/new-icons/svgexport-17 - 2024-04-18T152800.042 1.svg"
      />

      <div class="flex flex-col justify-center items-start gap-1">
        <span class="text-sm font-normal text-[#9596AA]">Protocol</span>
        <span class="text-base font-bold">HTTPS</span>
      </div>
    </div>

    <div class="flex justify-center items-center md:gap-3 gap-2">
      <img
        class="w-[30px] h-[30px]"
        src="assets/new-icons/svgexport-17 - 2024-04-17T124824.356 1.svg"
      />

      <div class="flex flex-col justify-center items-start gap-1">
        <span class="text-sm font-normal text-[#9596AA]">Port</span>
        <span class="text-base font-bold">HTTPS</span>
      </div>
    </div>

    <div class="flex justify-center items-center md:gap-3 gap-2">
      <img
        class="w-[30px] h-[30px]"
        src="assets/new-icons/svgexport-17 - 2024-04-22T131625.080 1.svg"
      />

      <div class="flex flex-col justify-center items-start gap-1">
        <span class="text-sm font-normal text-[#9596AA]">CWE</span>
        <span class="text-base font-bold">Lurem</span>
      </div>
    </div>

    <div class="flex justify-center items-center md:gap-3 gap-2">
      <img class="w-[30px] h-[30px]" src="assets/new-icons/Path 5260.svg" />

      <div class="flex flex-col justify-center items-start gap-1">
        <span class="text-sm font-normal text-[#9596AA]">CVE</span>
        <span class="text-base font-bold">CVE-2302-2585-21</span>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col justify-start items-stretch lg:gap-4 gap-2 rounded-2xl md:p-5 md:px-7 p-4 md:mb-3 mb-1 bg-[#070723]"
  >
    <span class="text-start text-lg font-semibold">Headers</span>

    <!-- TODO: Replace pre with p tag and set your data binding -->
    <pre class="text-sm font-normal text-[#9596AA]">
&lt;!DOCTYPE html&gt; &lt;html&gt; &lt;head&gt; &lt;title&gt;Pie Chart Example&lt;/title&gt; &lt;script src="https://cdn.jsdeli
 /chart.js"&gt;&lt;/script&gt; &lt;/head&gt; &lt;body&gt;  &lt;canva  id="myPieChart" width="400" heig
 &lt;script&gt; &lt;!DOCTYPE html&gt; &lt;html&gt; &lt;head&gt; &lt;title&gt;Pie Chart Example&lt;/title&gt; &lt;script src="https://cdn.jsdeli
 /chart.js"&gt;&lt;/script&gt; &lt;/head&gt; &lt;body&gt;  &lt;canvas id="&lt;!DOCTYPE html&gt; &lt;html&gt; &lt;head&gt; &lt;title&gt;Pie Chart Example&lt;/title&gt; &lt;script src="https://cdn.jsdeli
 /chart.js"&gt;&lt;/script&gt; &lt;/head&gt; &lt;body&gt;  &lt;canvas id="my&lt;!DOCTYPE html&gt; &lt;html&gt; &lt;head&gt; &lt;title&gt;Pie Chart Example&lt;/title&gt; &lt;script src="https://cdn.jsdeli
 /chart.js"&gt;&lt;/script&gt; &lt;/head&gt; &lt;body&gt;  &lt;canvas id="myPieChart" width="400" h&lt;!DOCTYPE html&gt; &lt;html&gt; &lt;head&gt; &lt;title&gt;Pie Chart Example&lt;/title&gt; &lt;script src="https://cdn.jsdeli
 /chart.js"&gt;&lt;/script&gt; &lt;/head&gt; &lt;body&gt;  &lt;canvas id="myPieChart" width="400" heig
&lt;script&gt;
</pre
    >
  </div>

  <h3 class="text-start text-xl font-semibold">OWASP Numbers</h3>

  <div
    class="sm:col-span-2 rounded-2xl h-full max-h-[64vh] relative overflow-y-auto bg-[#070723] md:mb-3 mb-1"
  >
    <table
      class="w-full md:text-sm text-xs md:font-normal font-light text-left"
    >
      <thead class="text-xs sticky top-0 bg-[#070723]">
        <tr class="md:px-3 px-1">
          <th
            class="text-center md:px-4 px-2 md:py-6 py-3 border-b-[.5px] border-r-[.5px] border-[#3F3F4D]"
          >
            Categories Type
          </th>

          <th
            class="text-center md:px-4 px-2 md:py-6 py-3 border-b-[.5px] border-r-[.5px] border-[#3F3F4D]"
          >
            Results
          </th>

          <th
            class="text-center md:px-4 px-2 md:py-6 py-3 border-b-[.5px] border-r-[.5px] border-[#3F3F4D]"
          >
            Reference
          </th>

          <th
            class="text-center md:px-4 px-2 md:py-6 py-3 border-b-[.5px] border-r-[.5px] border-[#3F3F4D]"
          >
            Describtion
          </th>

          <th
            class="text-center md:px-4 px-2 md:py-6 py-3 border-b-[.5px] border-r-[.5px] border-[#3F3F4D]"
          >
            WSTG
          </th>

          <th
            class="text-center md:px-4 px-2 md:py-6 py-3 border-b-[.5px] border-[#3F3F4D]"
          >
            Remediations
          </th>
        </tr>
      </thead>

      <tbody class="text-[#9596AA]">
        <tr class="border-b-[.5px] border-[#3F3F4D] cursor-pointer">
          <td
            class="md:px-4 px-2 md:py-6 py-3 text-center border-r-[.5px] border-[#3F3F4D]"
          >
            Categories type2
          </td>

          <td class="border-r-[.5px] border-[#3F3F4D]">
            <div
              class="h-full w-full flex justify-center items-center md:px-4 px-2 md:py-6 py-3"
            >
              <img
                class="w-[20px] h-[20px]"
                src="assets/new-icons/svgexport-18 (9) 1.svg"
              />
            </div>
          </td>

          <td
            class="md:px-4 px-2 md:py-6 py-3 border-r-[.5px] border-[#3F3F4D] text-center"
          >
            Lorem ipsum dolor sit amet consectetur. Lectus sit et diam sed
            vulputate lorem nibh facilisis pretium. Mus magna turpis posuere sed
            aliquet dolor ultrices metu
          </td>

          <td
            class="md:px-4 px-2 md:py-6 py-3 border-r-[.5px] border-[#3F3F4D] text-center"
          >
            Lorem
          </td>

          <td
            class="md:px-4 px-2 md:py-6 py-3 border-r-[.5px] border-[#3F3F4D] text-center"
          >
            Lorem ipsum dolor sit amet consectetur. Dui egestas odio id pharetra
            ornare. Dictumst pharetra sed a iaculis pretium sit. Aliquet iaculis
            turpis volutpat ultricies nunc id felis.
          </td>

          <td class="md:px-4 px-2 md:py-6 py-3 text-center">
            Lorem ipsum dolor sit amet consectetur. Lectus sit et diam sed
            vulputate lorem nibh facilisis pretium. Mus magna turpis posuere sed
            aliquet dolor ultrices metu
          </td>
        </tr>

        <tr class="cursor-pointer">
          <td
            class="md:px-4 px-2 md:py-6 py-3 text-center border-r-[.5px] border-[#3F3F4D]"
          >
            Categories type2
          </td>

          <td class="border-r-[.5px] border-[#3F3F4D]">
            <div
              class="h-full w-full flex justify-center items-center md:px-4 px-2 md:py-6 py-3"
            >
              <img
                class="w-[20px] h-[20px]"
                src="assets/new-icons/svgexport-18 (9) 3.svg"
              />
            </div>
          </td>

          <td
            class="md:px-4 px-2 md:py-6 py-3 border-r-[.5px] border-[#3F3F4D] text-center"
          >
            Lorem ipsum dolor sit amet consectetur. Lectus sit et diam sed
            vulputate lorem nibh facilisis pretium. Mus magna turpis posuere sed
            aliquet dolor ultrices metu
          </td>

          <td
            class="md:px-4 px-2 md:py-6 py-3 border-r-[.5px] border-[#3F3F4D] text-center"
          >
            Lorem
          </td>

          <td
            class="md:px-4 px-2 md:py-6 py-3 border-r-[.5px] border-[#3F3F4D] text-center"
          >
            Lorem ipsum dolor sit amet consectetur. Dui egestas odio id pharetra
            ornare. Dictumst pharetra sed a iaculis pretium sit. Aliquet iaculis
            turpis volutpat ultricies nunc id felis.
          </td>

          <td class="md:px-4 px-2 md:py-6 py-3 text-center">
            Lorem ipsum dolor sit amet consectetur. Lectus sit et diam sed
            vulputate lorem nibh facilisis pretium. Mus magna turpis posuere sed
            aliquet dolor ultrices metu
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 class="text-start text-xl font-semibold">References</h3>

  <div class="flex flex-col justify-start items-stretch md:gap-3 gap-1">
    <div class="flex justify-start items-center p-4 rounded-xl bg-[#070723]">
      <p class="text-sm font-normal text-[#9596AA]">
        Lorem ipsum dolor sit amet consectetur. Nisl sit aliquam tincidunt quam
        enim a sed. Proin eu eleifend neque scelerisque egestas et. Eget
      </p>
    </div>

    <div class="flex justify-start items-center p-4 rounded-xl bg-[#070723]">
      <p class="text-sm font-normal text-[#9596AA]">
        Lorem ipsum dolor sit amet consectetur. Nisl sit aliquam tincidunt quam
        enim a sed. Proin eu eleifend neque scelerisque egestas et. Eget
      </p>
    </div>

    <div class="flex justify-start items-center p-4 rounded-xl bg-[#070723]">
      <p class="text-sm font-normal text-[#9596AA]">
        Lorem ipsum dolor sit amet consectetur. Nisl sit aliquam tincidunt quam
        enim a sed. Proin eu eleifend neque scelerisque egestas et. Eget
      </p>
    </div>
  </div>
</section>
