<section class="w-full flex flex-row justify-start items-center gap-2">
  <span class="h-[16px] w-[3px] bg-[#5252E2] rounded-full"></span>
  <span class="md:text-base text-xs md:font-medium font-light text-white"
    >Account Settings</span
  >
</section>

<section
  class="w-full h-full flex flex-col justify-start items-stretch md:gap-3 gap-1 md:p-4 p-2 bg-[#27273F] rounded-2xl md:mt-3 mt-2"
>
  <div
    class="flex flex-col justify-start items-stretch gap-1 md:p-3 p-1 bg-[#181833] rounded-lg"
  >
    <div class="w-full flex flex-row justify-start items-center gap-2">
      <span class="h-[16px] w-[3px] bg-[#5252E2] rounded-full"></span>
      <span class="md:text-sm text-xs md:font-medium font-light text-white"
        >Admin Members</span
      >
    </div>

    <div class="relative overflow-x-auto">
      <table class="table-1">
        <thead class="text-xs">
          <tr class="md:px-3 px-1">
            <th scope="col" class="table-col">Name</th>
            <th scope="col" class="table-col">Email address</th>
            <th scope="col" class="table-col">Role</th>
            <th scope="col" class="table-col">Column</th>
            <th scope="col" class="table-col"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table-col">Lorem ipsum dolor sit</td>
            <td class="table-col">Name@cybral.com</td>
            <td class="table-col">IT Manager</td>
            <td class="table-col">Lorem ipsum</td>

            <td class="table-col">
              <button
                data-dropdown-toggle="optionsDropdown1"
                class="flex justify-center items-center w-6 h-6"
                type="button"
              >
                <img src="assets/icons/three-dots-horsental.svg" alt="" />
              </button>

              <div
                id="optionsDropdown1"
                class="z-999 hidden bg-[#27273F] divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
              >
                <ul
                  class="p-2 text-sm text-gray-100 dark:text-gray-200"
                  aria-labelledby="dropdownDefaultButton"
                >
                  <li>
                    <a
                      href="#"
                      class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
                      >Dashboard</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
                      >Settings</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
                      >Earnings</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
                      >Sign out</a
                    >
                  </li>
                </ul>
              </div>
            </td>
          </tr>

          <tr>
            <td class="table-col">Lorem ipsum dolor sit</td>
            <td class="table-col">Name@cybral.com</td>
            <td class="table-col">IT Manager</td>
            <td class="table-col">Lorem ipsum</td>

            <td class="table-col">
              <button
                data-dropdown-toggle="optionsDropdown3"
                class="flex justify-center items-center w-6 h-6"
                type="button"
              >
                <img src="assets/icons/three-dots-horsental.svg" alt="" />
              </button>

              <div
                id="optionsDropdown3"
                class="z-999 hidden bg-[#27273F] divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
              >
                <ul
                  class="p-2 text-sm text-gray-100 dark:text-gray-200"
                  aria-labelledby="dropdownDefaultButton"
                >
                  <li>
                    <a
                      href="#"
                      class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
                      >Dashboard</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
                      >Settings</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
                      >Earnings</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block rounded-lg px-4 py-2 hover:bg-[#070723] dark:hover:bg-gray-600 dark:hover:text-white"
                      >Sign out</a
                    >
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div
    class="flex flex-col justify-start items-stretch md:gap-3 gap-1 md:p-3 p-1 bg-[#181833] rounded-lg"
  >
    <div class="flex justify-between items-center">
      <div class="w-full flex flex-row justify-start items-center gap-2">
        <span class="h-[16px] w-[3px] bg-[#5252E2] rounded-full"></span>
        <span class="md:text-sm text-xs md:font-medium font-light text-white"
          >Payment method</span
        >
      </div>

      <button
        class="flex justify-center items-center w-6 h-6 rounded-md bg-[#27273F]"
        type="button"
      >
        <img src="assets/icons/Path 2136.svg" alt="" />
      </button>
    </div>

    <div
      class="grid sm:grid-cols-2 md:grid-cols-3 grid-cols-1 justify-items-stretch md:gap-3 gap-1 text-white md:px-3 px-1"
    >
      <div class="flex justify-start items-center md:gap-3 gap-1">
        <span class="md:text-sm text-xs font-thin text-gray-400"
          >Card Holder Name</span
        >
        <span class="md:text-sm text-xs md:font-medium font-lighd truncate"
          >Khaled Mohammad Ali</span
        >
      </div>

      <div class="flex justify-start items-center md:gap-3 gap-1">
        <span class="md:text-sm text-xs font-thin text-gray-400"
          >Card Number</span
        >
        <span class="md:text-sm text-xs md:font-medium font-lighd truncate"
          >2654 5874 9624 2378</span
        >
      </div>
    </div>

    <div
      class="grid sm:grid-cols-2 md:grid-cols-3 grid-cols-1 justify-items-stretch md:gap-3 gap-1 text-white md:px-3 px-1"
    >
      <div class="flex justify-start items-center md:gap-3 gap-1">
        <span class="md:text-sm text-xs font-thin text-gray-400"
          >Expiration date</span
        >
        <span class="md:text-sm text-xs md:font-medium font-lighd truncate"
          >06/24</span
        >
      </div>

      <div class="flex justify-start items-center md:gap-3 gap-1">
        <span class="md:text-sm text-xs font-thin text-gray-400">CVS</span>
        <span class="md:text-sm text-xs md:font-medium font-lighd truncate"
          >578</span
        >
      </div>
    </div>
  </div>

  <div
    class="flex flex-col justify-start items-stretch md:gap-3 gap-1 md:p-3 p-1 bg-[#181833] rounded-lg"
  >
    <div class="flex justify-between items-center">
      <div class="w-full flex flex-row justify-start items-center gap-2">
        <span class="h-[16px] w-[3px] bg-[#5252E2] rounded-full"></span>
        <span class="md:text-sm text-xs md:font-medium font-light text-white"
          >Subscription plan</span
        >
      </div>

      <button
        class="flex justify-center items-center w-6 h-6 rounded-md bg-[#27273F]"
        type="button"
      >
        <img src="assets/icons/Path 2136.svg" alt="" />
      </button>
    </div>

    <div
      class="grid sm:grid-cols-12 grid-cols-1 justify-items-stretch md:gap-3 gap-2 md:px-3 px-1"
    >
      <div class="sm:col-span-2 flex justify-center items-center">
        <img
          class="md:w-20 w-28 md:h-20 h-28"
          src="assets/images/Group 12255.svg"
          alt=""
        />
      </div>

      <div
        class="sm:col-span-10 md:col-span-8 flex flex-col justify-start items-start md:gap-2 gap-1"
      >
        <p class="md:text-xs text-[10px] font-light text-gray-400">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          If you are going to use a passage of Lorem Ipsum, you need to be sure
          there isn't anything embarrassing hidden in the middle of text. All
          the Lorem Ipsum generators on the Internet tend to repeat predefined
          chunks as necessary, making this the first true generator on the
          Internet. It uses a dictionary of over 200 Latin words, combined with
          a handful of model sentence structures, to generate Lorem Ipsum which
          looks reasonable. The generated Lorem Ipsum is therefore always free
          from repetition
        </p>

        <div
          class="flex flex-wrap md:justify-start justify-center items-center md:gap-3 gap-2 text-white"
        >
          <a href="#" class="md:text-[12px] text-[10px] font-normal">
            One domain
          </a>
          <a href="#" class="md:text-[12px] text-[10px] font-normal">
            Unlimited Storage
          </a>
          <a href="#" class="md:text-[12px] text-[10px] font-normal">
            No free Domain
          </a>
        </div>
      </div>

      <div class="sm:col-span-2 w-full flex justify-center items-center">
        <div
          class="md:w-20 w-28 md:h-20 h-28 flex flex-col justify-center items-center gap-1 rounded-xl bg-[#B3B3B3] text-[#27273F]"
        >
          <span class="md:text-xl text-lg font-extrabold">750</span>
          <span class="text-[9px] font-thin flex-nowrap">PER MONTH</span>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col justify-start items-stretch md:gap-3 gap-1 md:p-3 p-1 bg-[#181833] rounded-lg"
  >
    <div class="flex justify-between items-center">
      <div class="w-full flex flex-row justify-start items-center gap-2">
        <span class="h-[16px] w-[3px] bg-[#5252E2] rounded-full"></span>
        <span class="md:text-sm text-xs md:font-medium font-light text-white"
          >Organization information</span
        >
      </div>
    </div>

    <div
      class="grid sm:grid-cols-2 md:grid-cols-3 grid-cols-1 justify-items-stretch md:gap-3 gap-1 text-white md:px-3 px-1"
    >
      <div class="flex justify-start items-center md:gap-3 gap-1">
        <span class="md:text-sm text-xs font-thin text-gray-400"
          >Company Name</span
        >
        <span class="md:text-sm text-xs md:font-medium font-lighd truncate"
          >Lorem Ipsum available</span
        >
      </div>

      <div class="flex justify-start items-center md:gap-3 gap-1">
        <span class="md:text-sm text-xs font-thin text-gray-400"
          >Lorem Ipsum available</span
        >
        <span class="md:text-sm text-xs md:font-medium font-lighd truncate"
          >50-200</span
        >
      </div>
    </div>
  </div>
</section>
