<section class="h-full w-full md:px-3 py-3 px-2">
  <section
    class="w-full grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 grid-cols-1 justify-items-stretch md:gap-3 gap-1 my-1"
  >
    <div
      class="flex flex-col justify-start items-stretch md:gap-2 gap-1 p-3 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div class="flex flex-row justify-between items-center">
        <span class="text-base font-bold truncate">Attack Surface</span>

        <a href="#" class="flex justify-center items-center p-1">
          <img class="w-5 h-5" src="assets/icons/more-right.svg" alt="" />
        </a>
      </div>

      <div class="flex flex-row justify-between items-start md:gap-4 gap-2">
        <img
          class="w-10 h-10 md:mt-2 mt-1"
          src="assets/icons/Group 12099.svg"
          alt=""
        />

        <p class="md:text-sm text-xs font-normal break-words">
          Lorem, ipsum is a simply dummy text of the printing and typesetting.
          industry
        </p>
      </div>
    </div>

    <div
      class="flex flex-col justify-start items-stretch md:gap-2 gap-1 p-3 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div class="flex flex-row justify-between items-center">
        <span class="text-base font-bold truncate">Cloud</span>

        <a href="#" class="flex justify-center items-center p-1">
          <img class="w-5 h-5" src="assets/icons/more-right.svg" alt="" />
        </a>
      </div>

      <div class="flex flex-row justify-between items-start md:gap-4 gap-2">
        <img
          class="w-10 h-10 md:mt-2 mt-1"
          src="assets/icons/Group 12101.svg"
          alt=""
        />

        <p class="md:text-sm text-xs font-normal break-words">
          Lorem, ipsum is a simply dummy text of the printing and typesetting.
          industry
        </p>
      </div>
    </div>

    <div
      class="flex flex-col justify-start items-stretch md:gap-2 gap-1 p-3 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div class="flex flex-row justify-between items-center">
        <span class="text-base font-bold truncate">Network</span>

        <a href="#" class="flex justify-center items-center p-1">
          <img class="w-5 h-5" src="assets/icons/more-right.svg" alt="" />
        </a>
      </div>

      <div class="flex flex-row justify-between items-start md:gap-4 gap-2">
        <img
          class="w-10 h-10 md:mt-2 mt-1"
          src="assets/icons/Group 12102.svg"
          alt=""
        />

        <p class="md:text-sm text-xs font-normal break-words">
          Lorem, ipsum is a simply dummy text of the printing and typesetting.
          industry
        </p>
      </div>
    </div>

    <div
      class="flex flex-col justify-start items-stretch md:gap-2 gap-1 p-3 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div class="flex flex-row justify-between items-center">
        <span class="text-base font-bold truncate">Web Applications</span>

        <a href="#" class="flex justify-center items-center p-1">
          <img class="w-5 h-5" src="assets/icons/more-right.svg" alt="" />
        </a>
      </div>

      <div class="flex flex-row justify-between items-start md:gap-4 gap-2">
        <img
          class="w-10 h-10 md:mt-2 mt-1"
          src="assets/icons/Group 18.svg"
          alt=""
        />

        <p class="md:text-sm text-xs font-normal break-words">
          Lorem, ipsum is a simply dummy text of the printing and typesetting.
          industry
        </p>
      </div>
    </div>

    <div
      class="flex flex-col justify-start items-stretch md:gap-2 gap-1 p-3 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div class="flex flex-row justify-between items-center">
        <span class="text-base font-bold truncate">Dark web</span>

        <a href="#" class="flex justify-center items-center p-1">
          <img class="w-5 h-5" src="assets/icons/more-right.svg" alt="" />
        </a>
      </div>

      <div class="flex flex-row justify-between items-start md:gap-4 gap-2">
        <img
          class="w-10 h-10 md:mt-2 mt-1"
          src="assets/icons/Page-1.svg"
          alt=""
        />

        <p class="md:text-sm text-xs font-normal break-words">
          Lorem, ipsum is a simply dummy text of the printing and typesetting.
          industry
        </p>
      </div>
    </div>
  </section>
</section>
