<section class="h-full w-full md:px-3 py-3 px-2">
  <section
    class="w-full grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 grid-cols-1 justify-items-stretch md:gap-3 gap-1 my-1"
  >
    <div
      class="flex flex-col justify-start items-stretch md:gap-2 gap-1 p-3 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div class="flex flex-row justify-between items-center">
        <span class="text-base font-bold truncate">Attack Surface</span>

        <a href="#" class="flex justify-center items-center">
          <img class="w-5 h-5" src="assets/icons/more-right.svg" alt="" />
        </a>
      </div>

      <div class="flex flex-row justify-between items-start md:gap-4 gap-2">
        <img
          class="w-10 h-10 md:mt-2 mt-1"
          src="assets/icons/Group 12099.svg"
          alt=""
        />

        <p class="md:text-sm text-xs font-normal break-words">
          Lorem, ipsum is a simply dummy text of the printing and typesetting.
          industry
        </p>
      </div>
    </div>

    <div
      class="flex flex-col justify-start items-stretch md:gap-2 gap-1 p-3 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div class="flex flex-row justify-between items-center">
        <span class="text-base font-bold truncate">Cloud</span>

        <a href="#" class="flex justify-center items-center">
          <img class="w-5 h-5" src="assets/icons/more-right.svg" alt="" />
        </a>
      </div>

      <div class="flex flex-row justify-between items-start md:gap-4 gap-2">
        <img
          class="w-10 h-10 md:mt-2 mt-1"
          src="assets/icons/Group 12101.svg"
          alt=""
        />

        <p class="md:text-sm text-xs font-normal break-words">
          Lorem, ipsum is a simply dummy text of the printing and typesetting.
          industry
        </p>
      </div>
    </div>

    <div
      class="flex flex-col justify-start items-stretch md:gap-2 gap-1 p-3 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div class="flex flex-row justify-between items-center">
        <span class="text-base font-bold truncate">Network</span>

        <a href="#" class="flex justify-center items-center">
          <img class="w-5 h-5" src="assets/icons/more-right.svg" alt="" />
        </a>
      </div>

      <div class="flex flex-row justify-between items-start md:gap-4 gap-2">
        <img
          class="w-10 h-10 md:mt-2 mt-1"
          src="assets/icons/Group 12102.svg"
          alt=""
        />

        <p class="md:text-sm text-xs font-normal break-words">
          Lorem, ipsum is a simply dummy text of the printing and typesetting.
          industry
        </p>
      </div>
    </div>

    <div
      class="flex flex-col justify-start items-stretch md:gap-2 gap-1 p-3 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div class="flex flex-row justify-between items-center">
        <span class="text-base font-bold truncate">Web Applications</span>

        <a href="#" class="flex justify-center items-center">
          <img class="w-5 h-5" src="assets/icons/more-right.svg" alt="" />
        </a>
      </div>

      <div class="flex flex-row justify-between items-start md:gap-4 gap-2">
        <img
          class="w-10 h-10 md:mt-2 mt-1"
          src="assets/icons/Group 18.svg"
          alt=""
        />

        <p class="md:text-sm text-xs font-normal break-words">
          Lorem, ipsum is a simply dummy text of the printing and typesetting.
          industry
        </p>
      </div>
    </div>

    <div
      class="flex flex-col justify-start items-stretch md:gap-2 gap-1 p-3 bg-[#0e0e29] text-gray-300 rounded-xl"
    >
      <div class="flex flex-row justify-between items-center">
        <span class="text-base font-bold truncate">Dark web</span>

        <a href="#" class="flex justify-center items-center">
          <img class="w-5 h-5" src="assets/icons/more-right.svg" alt="" />
        </a>
      </div>

      <div class="flex flex-row justify-between items-start md:gap-4 gap-2">
        <img
          class="w-10 h-10 md:mt-2 mt-1"
          src="assets/icons/Page-1.svg"
          alt=""
        />

        <p class="md:text-sm text-xs font-normal break-words">
          Lorem, ipsum is a simply dummy text of the printing and typesetting.
          industry
        </p>
      </div>
    </div>
  </section>

  <section
    class="w-full grid md:grid-cols-8 grid-cols-1 md:gap-2 gap-1 justify-items-stretch mt-3"
  >
    <div
      class="md:col-span-6 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 grid-cols-1 justify-items-stretch md:gap-4 gap-2 p-2 bg-[#13132e] text-gray-300 rounded-xl"
    >
      <div class="flex flex-col justify-start items-stretch gap-1">
        <div
          class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
        >
          <div class="flex flex-row justify-between items-stretch">
            <div
              class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
            >
              <span class="text-xs font-normal truncate text-gray-400"
                >Total number of assets</span
              >
              <span class="text-base font-medium truncate">123,456</span>
            </div>
            <div class="flex justify-center items-start">
              <div
                class="flex justify-center items-center rounded-full p-4 bg-[#2dce98]"
              >
                <img
                  class="w-4 h-4"
                  src="assets/icons/bar-chart-2.svg"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="flex justify-start items-center md:gap-4 gap-2">
            <span class="text-xs font-normal truncate text-[#2dce98]"
              >+3.48%</span
            >
            <span class="text-xs font-normal truncate text-gray-600"
              >Since last month</span
            >
          </div>
        </div>

        <div
          class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
        >
          <div class="flex flex-row justify-between items-stretch">
            <div
              class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
            >
              <span class="text-xs font-normal truncate text-gray-400"
                >Total number of assets</span
              >
              <span class="text-base font-medium truncate">123,456</span>
            </div>
            <div class="flex justify-center items-start">
              <div
                class="flex justify-center items-center rounded-full p-4 bg-[#2dce98]"
              >
                <img
                  class="w-4 h-4"
                  src="assets/icons/bar-chart-2.svg"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="flex justify-start items-center md:gap-4 gap-2">
            <span class="text-xs font-normal truncate text-[#2dce98]"
              >+3.48%</span
            >
            <span class="text-xs font-normal truncate text-gray-600"
              >Since last month</span
            >
          </div>
        </div>
      </div>

      <div class="flex flex-col justify-start items-stretch gap-1">
        <div
          class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
        >
          <div class="flex flex-row justify-between items-stretch">
            <div
              class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
            >
              <span class="text-xs font-normal truncate text-gray-400"
                >Total number</span
              >
              <span class="text-base font-medium truncate">123,456</span>
            </div>
            <div class="flex justify-center items-start">
              <div
                class="flex justify-center items-center rounded-full p-4 bg-[#f53c56]"
              >
                <img
                  class="w-4 h-4"
                  src="assets/icons/bar-chart-2.svg"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="flex justify-start items-center md:gap-4 gap-2">
            <span class="text-xs font-normal truncate text-[#f53c56]"
              >+3.48%</span
            >
            <span class="text-xs font-normal truncate text-gray-600"
              >Since last month</span
            >
          </div>
        </div>

        <div
          class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
        >
          <div class="flex flex-row justify-between items-stretch">
            <div
              class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
            >
              <span class="text-xs font-normal truncate text-gray-400"
                >Total number</span
              >
              <span class="text-base font-medium truncate">123,456</span>
            </div>
            <div class="flex justify-center items-start">
              <div
                class="flex justify-center items-center rounded-full p-4 bg-[#f53c56]"
              >
                <img
                  class="w-4 h-4"
                  src="assets/icons/bar-chart-2.svg"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="flex justify-start items-center md:gap-4 gap-2">
            <span class="text-xs font-normal truncate text-[#f53c56]"
              >+3.48%</span
            >
            <span class="text-xs font-normal truncate text-gray-600"
              >Since last month</span
            >
          </div>
        </div>
      </div>

      <div
        class="flex flex-col justify-between items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-gradient-to-b from-[#7A34F4] to-[#46C9F9] rounded-xl"
      >
        <div class="flex flex-col justify-start items-stretch gap-1">
          <div class="flex flex-row justify-between items-stretch">
            <div
              class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
            >
              <span class="text-xs font-normal truncate text-gray-400"
                >Total number of issus</span
              >
              <span class="text-base font-medium truncate text-white"
                >123,456</span
              >
            </div>
            <div class="flex justify-center items-start">
              <div
                class="flex justify-center items-center rounded-full p-4 bg-[#f53c56]"
              >
                <img
                  class="w-4 h-4"
                  src="assets/icons/bar-chart-2.svg"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="flex flex-col justify-start items-stretch gap-1">
            <div class="flex flex-row justify-start items-center gap-2">
              <div class="w-2 h-2 mt-[2px] rounded-full bg-green-400"></div>
              <span class="text-xs font-normal truncate text-gray-400"
                >Solved issus</span
              >
            </div>

            <div class="w-full max-h-[84px] overflow-y-auto">
              <!-- TODO: loop here to show issues numbers -->
              <div class="w-full text-sm font-medium truncate text-white">
                123,456
              </div>
            </div>
          </div>
        </div>

        <div class="flex justify-start items-center md:gap-4 gap-2">
          <span class="text-xs font-normal truncate text-[#f53c56]"
            >+3.48%</span
          >
          <span class="text-xs font-normal truncate text-gray-600"
            >Since last month</span
          >
        </div>
      </div>
      <div class="flex flex-col justify-start items-stretch gap-1">
        <div
          class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
        >
          <div class="flex flex-row justify-between items-stretch">
            <div
              class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
            >
              <span class="text-xs font-normal truncate text-gray-400"
                >Total number of assets</span
              >
              <span class="text-base font-medium truncate">123,456</span>
            </div>
            <div class="flex justify-center items-start">
              <div
                class="flex justify-center items-center rounded-full p-4 bg-[#2dce98]"
              >
                <img
                  class="w-4 h-4"
                  src="assets/icons/bar-chart-2.svg"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="flex justify-start items-center md:gap-4 gap-2">
            <span class="text-xs font-normal truncate text-[#2dce98]"
              >+3.48%</span
            >
            <span class="text-xs font-normal truncate text-gray-600"
              >Since last month</span
            >
          </div>
        </div>
        <div
          class="flex flex-col justify-start items-stretch md:gap-2 gap-1 md:p-4 p-2 bg-[#0e0e29] text-gray-300 rounded-xl"
        >
          <div class="flex flex-row justify-between items-stretch">
            <div
              class="w-9/12 flex flex-col justify-start items-start md:gap-2 gap-1"
            >
              <span class="text-xs font-normal truncate text-gray-400"
                >Total number</span
              >
              <span class="text-base font-medium truncate">123,456</span>
            </div>
            <div class="flex justify-center items-start">
              <div
                class="flex justify-center items-center rounded-full p-4 bg-[#f53c56]"
              >
                <img
                  class="w-4 h-4"
                  src="assets/icons/bar-chart-2.svg"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="flex justify-start items-center md:gap-4 gap-2">
            <span class="text-xs font-normal truncate text-[#f53c56]"
              >+3.48%</span
            >
            <span class="text-xs font-normal truncate text-gray-600"
              >Since last month</span
            >
          </div>
        </div>
      </div>

      <!-- graphs -->
      <div
        class="sm:col-span-2 md:col-span-3 lg:col-span-4 col-span-1 grid sm:grid-cols-2 md:grid-cols-3 grid-cols-1 md:gap-2 gap-2"
      >
        <div class="flex justify-center items-center bg-[#0e0e29] rounded-2xl">
          <img class="w-full" src="assets/images/Group 12030.svg" alt="" />
        </div>

        <div class="flex justify-center items-center bg-[#0e0e29] rounded-2xl">
          <img class="w-full" src="assets/images/Group 12029.svg" alt="" />
        </div>

        <div class="flex justify-center items-center bg-[#0e0e29] rounded-2xl">
          <img class="w-full" src="assets/images/Group 12062.svg" alt="" />
        </div>
      </div>
    </div>

    <div
      class="md:col-span-2 flex flex-col justify-start items-center md:gap-2 gap-1 p-2 bg-[#13132e] text-gray-300 rounded-xl"
    >
      <div class="w-full p-3 text-start text-white text-sm font-medium">
        Summary
      </div>

      <div class="flex flex-col justify-center items-center md:gap-3 gap-1">
        <img
          class="w-40 h-36"
          src="assets/images/ScreenShot_20230404161425.png"
          alt=""
        />
        <p class="md:text-sm text-xs font-normal break-words md:px-5 px-0">
          Lorem, ipsum is a simply dummy text of the printing and typesetting.
          industry
        </p>
      </div>

      <div
        class="w-full flex flex-col justify-center items-stretch md:gap-3 gap-1 md:mt-2 mt-0"
      >
        <div
          class="flex flex-row justify-start items-center md:gap-2 gap-1 bg-[#0f0f2b]"
        >
          <div class="h-full w-[5px] bg-red-600"></div>
          <div
            class="flex flex-col justify-start items-start md:gap-2 gap-1 py-2"
          >
            <span class="text-white text-xs font-normal">Issue Found</span>
            <span class="text-gray-500 text-xs font-normal">150</span>
          </div>
        </div>

        <div
          class="flex flex-row justify-start items-center md:gap-2 gap-1 bg-[#0f0f2b]"
        >
          <div class="h-full w-[5px] bg-green-500"></div>
          <div
            class="flex flex-col justify-start items-start md:gap-2 gap-1 py-2"
          >
            <span class="text-white text-xs font-normal">Issue resolved</span>
            <span class="text-gray-500 text-xs font-normal">130</span>
          </div>
        </div>

        <div
          class="flex flex-row justify-start items-center md:gap-2 gap-1 bg-[#0f0f2b]"
        >
          <div class="h-full w-[5px] bg-[#ae0aa7]"></div>
          <div
            class="flex flex-col justify-start items-start md:gap-2 gap-1 py-2"
          >
            <span class="text-white text-xs font-normal">Issue resolved</span>
            <span class="text-gray-500 text-xs font-normal">700</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
