<section
  class="w-full md:min-h-[45vh] min-h-[30vh] flex flex-col justify-center items-center md:gap-24 gap-10 md:p-10 p-5 rounded-lg text-white bg-[#070723]"
>
  <div
    class="sm:w-6/12 md:w-7/12 w-full flex flex-col justify-center items-center md:gap-3 gap-1"
  >
    <div class="w-full md:h-9 h-5 rounded-3xl bg-[#27273f]">
      <!-- Change the width when the percentage of progress changes -->
      <div class="h-full w-3/4 rounded-3xl bg-white"></div>
    </div>

    <div
      class="w-full flex justify-between items-center md:text-sm text-xs md:font-normal font-light md:px-3 px-2"
    >
      <span class="text-white">Assets Discovery in Progress</span>
      <span class="text-[#5252E2]">75 %</span>
    </div>
  </div>

  <button
    class="md:px-24 px-16 md:py-[10px] py-1 rounded border-2 border-[#5252E2] text-[#5252E2] bg-transparent"
  >
    STOP
  </button>
</section>
