<nav
  class="min-h-[12vh] w-full flex flex-wrap sm:justify-between justify-center items-center gap-5 md:px-5 px-2 py-2 bg-[#070723] shadow-md"
>
  <section class="felx flex-col justify-start items-center">
    <ul class="list-none flex flex-row justify-center items-center gap-2">
      <li class="cursor-pointer md:text-sm text-xs text-white font-light">
        <a href="#">FAQ</a>
      </li>
      <span class="h-[16px] w-[1px] bg-white"></span>
      <li class="cursor-pointer md:text-sm text-xs text-white font-light">
        <a href="#">Contact Us</a>
      </li>
      <span class="h-[16px] w-[1px] bg-white"></span>

      <li class="cursor-pointer md:text-sm text-xs text-white font-light">
        <a href="#">Term of use</a>
      </li>
      <span class="h-[16px] w-[1px] bg-white"></span>

      <li class="cursor-pointer md:text-sm text-xs text-white font-light">
        <a href="#">Privacy policy</a>
      </li>
    </ul>

    <span
      class="flex justify-start items-center gap-2 text-xs text-white font-light md:mt-2 mt-1"
    >
      <span>&copy;</span>
      2022 Cybral. All Rights Reserved by
    </span>
  </section>

  <img
    class="md:w-80 w-72 h-auto"
    src="assets/icons/Group 11725.svg"
    alt="logo"
  />
</nav>
