<section class="relative min-h-screen w-100 bg-[#070723] sm:pt-20 pt-8">
  <div
    class="relative md:w-6/12 w-10/12 h-auto m-auto flex flex-col justify-center items-stretch md:gap-8 gap-3 z-10"
  >
    <header class="flex justify-between items-center">
      <img
        class="md:w-36 w-24 h-auto"
        src="assets/icons/logo-light.svg"
        alt="logo"
      />

      <ul class="list-none flex flex-row justify-center items-center gap-2">
        <li class="cursor-pointer text-sm text-white font-light">
          <a href="#">What we do</a>
        </li>
        <span class="h-[16px] w-[2px] bg-white"></span>
        <li class="cursor-pointer text-sm text-white font-light">
          <a href="#">FQA</a>
        </li>
        <span class="h-[16px] w-[2px] bg-white"></span>

        <li class="cursor-pointer text-sm text-white font-light">
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </header>

    <!-- Navigation section -->
    <section
      class="min-h-[55vh] grid justify-items-stretch md:rounded-[20px] rounded-[16px] overflow-hidden bg-white shadow-xl p-0"
    >
      <app-login></app-login>
      <!-- <app-company-details></app-company-details> -->
      <!-- <app-create-account></app-create-account> -->
      <!-- <app-subscription-plan></app-subscription-plan> -->
      <!-- <app-payment-process></app-payment-process> -->
    </section>

    <!-- Copy right -->
    <section class="flex flex-col justify-center items-center md:gap-3 gap-1">
      <ul class="list-none flex flex-row justify-center items-center gap-2">
        <li class="cursor-pointer text-xs text-black font-light">
          <a href="#">Team of us</a>
        </li>
        <span class="h-[12px] w-[.5px] bg-black"></span>
        <li class="cursor-pointer text-xs text-black font-light">
          <a href="#">Privacy policy</a>
        </li>
      </ul>

      <span
        class="flex justify-center items-center gap-1 text-xs text-black font-light"
      >
        <span>&copy;</span>
        2022 Cybral. All Rights Reserved by
      </span>
    </section>
  </div>

  <div
    class="background-img absolute bottom-0 h-[50vh] w-full rounded-t-[100%] bg-white z-0"
  ></div>
</section>
