<section class="h-full w-full grid md:grid-cols-3 grid-cols-1">
  <div
    class="py-3 px-4 flex flex-col justify-center items-start gap-2 bg-[#5252E2] md:order-1 order-2"
  >
    <img class="w-5 h-5" src="assets/icons/noun-tips-2378579.svg" alt="info" />
    <span
      class="text-white sm:text-[.75em] text-sm font-semibold uppercase break-words"
    >
      We quickly and efficiently identifies vulnerabilities, misconfigurations,
      weaknesses in your network and vectors for potential threats.
    </span>
  </div>

  <div
    class="py-3 px-4 md:col-span-2 col-span-3 flex flex-col justify-start items-stretch sm:gap-3 gap-2 md:order-2 order-1"
  >
    <!-- Progress bar -->
    <div class="h-2 flex justify-start items-center bg-[#F0E6FF] rounded-md">
      <!-- change width based on completed form steps -->
      <div class="h-full w-1/2 bg-[#7733FF] rounded-md"></div>
    </div>
    <section
      class="relative h-full w-full flex flex-col justify-between items-stretch md:pb-2"
    >
      <!-- Form title -->

      <section
        class="flex flex-col justify-between items-center gap-1 text-gray-900"
      >
        <span class="text-[13px] font-semibold break-words"
          >SUBSCRIPTION PLAN</span
        >

        <span class="text-[13px] font-normal break-words"
          >In a few simple steps, we will create an account for you</span
        >
      </section>

      <!-- Form -->
      <section class="h-full flex justify-center items-center md:my-2 my-1">
        <form
          action=""
          class="w-full h-full p-0 m-0 flex flex-wrap justify-center items-center md:gap-4 gap-2 md:pt-2 pt-1 text-gray-700"
        >
          <div
            class="h-[80%] md:w-1/4 w-3/12 flex flex-col justify-between items-center p-4 rounded-[16px] shadow-xl hover:shadow-2xl cursor-pointer"
          >
            <div
              class="w-14 h-14 flex justify-center items-center rounded-full bg-indigo-300"
            >
              <img
                class="w-8 h-w-8"
                src="assets/icons/city-building.svg"
                alt="..."
              />
            </div>

            <div class="flex flex-col justify-between items-center">
              <span
                class="dm:mt-3 mt-2 uppercase md:text-[12px] text-[10px] font-bold"
                >PERSONAL</span
              >

              <span
                class="dm:mt-2 mt-1 uppercase md:text-[20px] text-[18px] font-bold"
                >450</span
              >

              <span
                class="dm:mt-2 mt-1 uppercase md:text-[9px] text-[8px] font-normal text-gray-600"
                >PER MONTH</span
              >
            </div>
          </div>

          <div
            class="relative h-full md:w-1/4 w-3/12 flex flex-col justify-between items-center p-4 rounded-[16px] shadow-xl hover:shadow-2xl cursor-pointer"
          >
            <div
              class="w-14 h-14 flex justify-center items-center rounded-full bg-indigo-600"
            >
              <img class="w-8 h-w-8" src="assets/icons/team.svg" alt="..." />
            </div>

            <div class="flex flex-col justify-between items-center">
              <span
                class="dm:mt-3 mt-2 uppercase md:text-[12px] text-[10px] font-bold"
                >TEAM</span
              >

              <span
                class="dm:mt-2 mt-1 md:text-[9px] text-[8px] font-normal text-gray-600"
                >1 Domain</span
              >

              <span
                class="dm:mt-2 mt-1 md:text-[9px] text-[8px] font-normal text-gray-600"
                >Unlimited Storage</span
              >

              <span
                class="dm:mt-2 mt-1 md:text-[9px] text-[8px] font-normal text-gray-600"
                >No free Domain</span
              >
            </div>

            <div class="flex flex-col justify-between items-center">
              <span
                class="dm:mt-2 mt-1 uppercase md:text-[20px] text-[18px] font-bold text-blue-700"
                >750</span
              >

              <span
                class="dm:mt-2 mt-1 uppercase md:text-[9px] text-[8px] font-normal text-gray-600"
                >PER MONTH</span
              >
            </div>

            <div class="h-14 w-full absolute" style="bottom: -42px">
              <button
                class="h-6 w-6 mx-auto flex justify-center items-center rounded-full bg-black"
              >
                <img
                  class="w-2 h-w-2"
                  src="assets/icons/small-right-arrow.svg"
                  alt="..."
                />
              </button>
            </div>
          </div>

          <div
            class="h-[80%] md:w-1/4 w-3/12 flex flex-col justify-between items-center p-4 rounded-[16px] shadow-xl hover:shadow-2xl cursor-pointer"
          >
            <div
              class="w-14 h-14 flex justify-center items-center rounded-full bg-indigo-300"
            >
              <img
                class="w-8 h-w-8"
                src="assets/icons/city-building.svg"
                alt="..."
              />
            </div>

            <div class="flex flex-col justify-between items-center">
              <span
                class="dm:mt-3 mt-2 uppercase md:text-[12px] text-[10px] font-bold truncate"
                >CORPORATE</span
              >

              <span
                class="dm:mt-2 mt-1 uppercase md:text-[20px] text-[18px] font-bold"
                >1250</span
              >

              <span
                class="dm:mt-2 mt-1 uppercase md:text-[9px] text-[8px] font-normal text-gray-600"
                >PER MONTH</span
              >
            </div>
          </div>
        </form>
      </section>

      <section
        class="flex flex-col justify-center items-stretch gap-2 md:mt-4 mt-2"
      >
        <div class="flex justify-center items-center">
          <button
            class="lg:w-2/3 w-full py-[5px] px-2 rounded-3xl flex justify-center items-center bg-[#5252e2]"
          >
            <span
              class="md:text-base text-sm md:font-normal font-light text-white"
              >Next</span
            >
          </button>
        </div>

        <div class="flex justify-center items-center"></div>
      </section>
    </section>
  </div>
</section>
