<form
  class="w-full md:min-h-[45vh] min-h-[30vh] flex flex-col justify-between items-center md:gap-10 gap-5 md:p-10 p-5 rounded-lg text-white bg-[#070723]"
>
  <div class="w-full flex flex-col justify-start items-start md:gap-4 gap-2">
    <p class="md:text-base text-xs md:font-normal font-light text-whi">
      Please approve the assessments for the following assets:
    </p>

    <div class="w-full flex flex-col justify-start items-start md:gap-4 gap-1">
      <div class="flex justify-start items-center md:gap-5 gap-2">
        <div class="input-checkbox">
          <input id="id1" class="input" type="checkbox" name="id1" />
          <label for="id1" class="input-label"> Network Scan </label>
        </div>

        <div
          class="flex justify-center items-center rounded-2xl bg-[#27273f] md:px-4 px-1 md:py-[7px] py-1"
        >
          <span class="md:text-sm text-xs md:font-normal font-thin text-white"
            >IP address: 69.89.31.226</span
          >
        </div>
      </div>

      <div class="flex justify-start items-center md:gap-5 gap-2">
        <div class="input-checkbox">
          <input id="id2" class="input" type="checkbox" name="id2" />
          <label for="id2" class="input-label"> Cloud scan </label>
        </div>

        <div
          class="flex justify-center items-center rounded-2xl bg-[#27273f] md:px-4 px-1 md:py-[7px] py-1"
        >
          <span class="md:text-sm text-xs md:font-normal font-thin text-white"
            >IP address: 69.89.31.226</span
          >
        </div>
      </div>
      <div class="flex justify-start items-center md:gap-5 gap-2">
        <div class="input-checkbox">
          <input id="id3" class="input" type="checkbox" name="id3" />
          <label for="id3" class="input-label"> Web application Scan </label>
        </div>

        <div
          class="flex justify-center items-center rounded-2xl bg-[#27273f] md:px-4 px-1 md:py-[7px] py-1"
        >
          <span class="md:text-sm text-xs md:font-normal font-thin text-white"
            >IP address: 69.89.31.226</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center items-center md:p-5 p-2">
    <button
      class="md:px-12 px-8 md:py-[10px] py-1 rounded-3xl text-white bg-[#5252E2]"
    >
      START ASSESSMENT
    </button>
  </div>
</form>
